{% extends 'layout.html.twig' %}

{% block title %}{{ 'Our Projects'|trans }} | {{ parent() }}{% endblock %}

{% block stylesheets_implemeting_plugins %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css') }}" />
{% endblock %}

{% block javascripts_implementing_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js') }}"></script>
{% endblock %}

{% block javascripts_page_level %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/plugins/cube-portfolio/cube-portfolio-3.js') }}"></script>
{% endblock %}

{% block breadcrumb %}
    <!--=== Breadcrumbs v3 ===-->
    <div class="breadcrumbs-v3 img-v1" style="background: url({{ asset('assets/img/projects/header.jpg') }}) no-repeat center center; background-size: cover;">
        <div class="container text-center">
            <p>{{ 'All our'|trans }}</p>
            <h1>{{ 'Projects'|trans }}</h1>
        </div><!--/end container-->
    </div>
    <!--=== End Breadcrumbs v3 ===-->
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
    {#<!--=== Cube-Portfdlio ===-->
    <div class="cube-portfolio container">
        #}{#<div class="content-xs">
            <div id="filters-container" class="cbp-l-filters-text content-xs">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div> |
                <div data-filter=".web-service" class="cbp-filter-item"> Web Service </div> |
                <div data-filter=".software" class="cbp-filter-item"> Software </div>
            </div><!--/end Filters Container-->
        </div>#}{#
        <div class="content">
            <div class="heading heading-v1 margin-bottom-10">
                <h2>Main Projects</h2>
            </div>
        </div>

        <div id="grid-container" class="cbp-l-grid-agency">
            <div class="cbp-item web-service">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ asset('assets/img/projects/img27.jpg') }}" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="https://service.orbitrondev.org"><i
                                                    class="rounded-x fa fa-link"></i></a></li>
                                    <li><a href="{{ asset('assets/img/projects/img27.jpg') }}" class="cbp-lightbox"
                                           data-title="Web Service"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Web Service</div>
                    <div class="cbp-l-grid-agency-desc">Web Service</div>
                </div>
            </div>
            <div class="cbp-item web-service">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ asset('assets/img/projects/img29.jpg') }}" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="https://www.haxotron.com"><i class="rounded-x fa fa-link"></i></a>
                                    </li>
                                    <li><a href="{{ asset('assets/img/projects/img29.jpg') }}" class="cbp-lightbox"
                                           data-title="Haxotron"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Haxotron</div>
                    <div class="cbp-l-grid-agency-desc">Web Service</div>
                </div>
            </div>
            <div class="cbp-item web-service software">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="{{ asset('assets/img/projects/img30.jpg') }}" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="https://emureborn.orbitrondev.org"><i class="rounded-x fa fa-link"></i></a>
                                    </li>
                                    <li><a href="{{ asset('assets/img/projects/img30.jpg') }}" class="cbp-lightbox"
                                           data-title="EmuReborn"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">EmuReborn</div>
                    <div class="cbp-l-grid-agency-desc">Web Service / Software</div>
                </div>
            </div>
        </div><!--/end Grid Container-->
    </div>
    <!--=== End Cube-Portfdlio ===-->#}

    <div class="container content">
        <div class="heading heading-v1 margin-bottom-10">
            <h2>Programs</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>File Explorer (Planned)</h2>
                    <p>Best and easiest to use file explorer.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Internet Explorer (Planned)</h2>
                    <p>Better than the one of Microsoft.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Gallery (Planned)</h2>
                    <p>Simple Gallery to see all your pictures and videos.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Camera (Planned)</h2>
                    <p>Get everything out of the camera with this app.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Calculator (Planned)</h2>
                    <p>Best calculator which you can trust the results.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Music Player (Planned)</h2>
                    <p>Simple Music Player with a lot customization options.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Video Player (Planned)</h2>
                    <p>Simple Video Player with a lot customization options.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Alarm Clock (Planned)</h2>
                    <p>The day begins after sleeping, so sleeping is important.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Notes (Planned)</h2>
                    <p>Take notes, create shopping lists, or simple documents.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2><b>Office</b> Documents (Planned)</h2>
                    <p>Create documents and edit it with others.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2><b>Office</b> Tables (Planned)</h2>
                    <p>Create tables and edit it with others.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2><b>Office</b> Presentations (Planned)</h2>
                    <p>Create beautiful presentations and edit it with others.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2><b>Office</b> Forms (Planned)</h2>
                    <p>Create forms (or surveys) for the web.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Mail (Planned)</h2>
                    <p>Your personal mail client.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Contacts (Planned)</h2>
                    <p>Save your contacts on the cloud.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Messages (Planned)</h2>
                    <p>Send SMS or MMS with an ease.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Audio Recorder & Editor (Planned)</h2>
                    <p>Create audios like in studios.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Screen Recorder (Planned)</h2>
                    <p>Save what's going on on your screen.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Video Editor (Planned)</h2>
                    <p>Edit Videos like a Pro a be a good YouTuber.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Anti-Virus (Planned)</h2>
                    <p>The most strong Anti-Virus. It detects everything.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Universal Store (Planned)</h2>
                    <p>Buy apps, music, videos and books.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Radio (Planned)</h2>
                    <p>Listen to radio on any device.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>IR Controller (Planned)</h2>
                    <p>Control your TV and everything that uses Infrared.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>E-Wallet (Planned)</h2>
                    <p>Your money on the safe internet.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Pro IDE (Planned)</h2>
                    <p>Develop programs in any language for anything.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
        </div>

        <div class="heading heading-v1 margin-bottom-10" id="web-service-by-own">
            <h2>Web Service (Create on your own)</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1" style="height: 122px;">
                    <div class="row">
                        <div class="col-md-9">
                            <h2>Blog</h2>
                            <p>Create a blog for yourself or your company.</p>
                        </div>
                        <div class="col-md-3">
                            <p><a href="https://blog.orbitrondev.org" class="btn-u btn-u-lg btn-u-default"
                                  target="_blank"><i class="fa fa-external-link"></i> Go</a></p>
                        </div>
                    </div>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1" style="height: 122px;">
                    <div class="row">
                        <div class="col-md-9">
                            <h2>Forum</h2>
                            <p>Give your community the ability to help each other. It's simply a Forum.</p>
                        </div>
                        <div class="col-md-3">
                            <p><a href="https://forum.orbitrondev.org" class="btn-u btn-u-lg btn-u-default"
                                  target="_blank"><i class="fa fa-external-link"></i> Go</a></p>
                        </div>
                    </div>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1" style="height: 122px;">
                    <div class="row">
                        <div class="col-md-9">
                            <h2>Sites</h2>
                            <p>Create a simple website hosted on our servers (files are on your personal cloud).</p>
                        </div>
                        <div class="col-md-3">
                            <p><a href="https://sites.orbitrondev.org" class="btn-u btn-u-lg btn-u-default"
                                  target="_blank"><i class="fa fa-external-link"></i> Go</a></p>
                        </div>
                    </div>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1" style="height: 122px;">
                    <div class="row">
                        <div class="col-md-9">
                            <h2>Store</h2>
                            <p>Create a small or even the biggest online store ever.</p>
                        </div>
                        <div class="col-md-3">
                            <p><a href="https://store.orbitrondev.org" class="btn-u btn-u-lg btn-u-default"
                                  target="_blank"><i class="fa fa-external-link"></i> Go</a></p>
                        </div>
                    </div>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1" style="height: 122px;">
                    <div class="row">
                        <div class="col-md-9">
                            <h2>Wiki</h2>
                            <p>When someone needs help, they can find it on the wiki. Yes, here.</p>
                        </div>
                        <div class="col-md-3">
                            <p><a href="https://wiki.orbitrondev.org" class="btn-u btn-u-lg btn-u-default"
                                  target="_blank"><i class="fa fa-external-link"></i> Go</a></p>
                        </div>
                    </div>
                </div>
                <!--End Tag Box v6-->
            </div>
        </div>

        <div class="heading heading-v1 margin-bottom-10" id="web-service">
            <h2>Web Service</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Ads (Planned)</h2>
                    <p>Marketing for your company or gain money, adding ads to your site.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <div class="row">
                        <div class="col-md-9">
                    <h2>Cloud</h2>
                    <p>Your unlimited large cloud storage.</p></div>
                        <div class="col-md-3">
                            <p><a href="https://cloud.orbitrondev.org" class="btn-u btn-u-lg btn-u-default"
                                  target="_blank"><i class="fa fa-external-link"></i> Go</a></p>
                        </div>
                    </div>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Mail (Planned)</h2>
                    <p>Email client for your account created on our website (example@g2mail.com ti).</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Contacts (Planned)</h2>
                    <p>Save here all your contacts.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Calendar (Planned)</h2>
                    <p>Keep your day organized.</p>
                </div>
                <!--End Tag Box v6-->
            </div>


            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>App Store (Planned)</h2>
                    <p>Find all apps and games here.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Music Store (Planned)</h2>
                    <p>Music is live, so get them here.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Book Store (Planned)</h2>
                    <p>Calm down on a stressful day by reading.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Movie Store (Planned)</h2>
                    <p>Movie and Chill.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
        </div>

        <div class="heading heading-v1 margin-bottom-10">
            <h2>Web Service (for Developer)</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Data Cloud (Planned)</h2>
                    <p>You wont need anymore an own server to save game data.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Build Cloud (Planned)</h2>
                    <p>Develop, Upload, Build. Just concentrate to develop things we do the rest.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>Analytics (Planned)</h2>
                    <p>Find out how your customers interact.</p>
                </div>
                <!--End Tag Box v6-->
            </div>
        </div>

        <div class="heading heading-v1 margin-bottom-10">
            <h2>Tools</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>{{ 'Calculator'|trans }} (Planned)</h2>
                    <p>{{ 'A professional calculator in the web'|trans }}</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>{{ 'Clock'|trans }} (Planned)</h2>
                    <p>{{ 'Showing you the time in all timezones a stopwatch and a timer'|trans }}</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>{{ 'Favicon Generator'|trans }} (Planned)</h2>
                    <p>{{ 'With one image create a favicon for all devices (Favicon for WEBSITES!)'|trans }}</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>{{ 'AppIcon Generator'|trans }} (Planned)</h2>
                    <p>{{ 'With one image create an icon for android and ios apps'|trans }}</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>{{ 'PDF Tools'|trans }} (Planned)</h2>
                    <p>{{ 'Convert minimize and do much more with your PDF file'|trans }}</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>{{ 'Diff Checker'|trans }} (Planned)</h2>
                    <p>{{ 'Check where the difference between two files are'|trans }}</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>{{ 'Image converter'|trans }} (Planned)</h2>
                    <p>{{ 'Get your image in all formats'|trans }}</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>{{ 'Image editor'|trans }} (Planned)</h2>
                    <p>{{ 'Edit your image or create a new one easily'|trans }}</p>
                </div>
                <!--End Tag Box v6-->
            </div>
            <div class="col-md-6">
                <!--Tag Box v6-->
                <div class="tag-box tag-box-v6 box-shadow shadow-effect-1">
                    <h2>{{ 'Email Reader'|trans }} (Planned)</h2>
                    <p>{{ 'See any of your emails in one client'|trans }}</p>
                </div>
                <!--End Tag Box v6-->
            </div>
        </div>
    </div>
{% endblock %}
