{% extends 'error/layout.html.twig' %}

{% block title %}403 Forbidden | OrbitronDev{% endblock %}

{% block content %}
    <!--=== Error V4 ===-->
    <div class="container content">
        <!--Error Block-->
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="error-v4">
                    <a href="{{ path('app_default_index') }}">
                        <img src="{{ asset('assets/logo-long.png') }}" alt="OrbitronDev" height="30px" />
                    </a>
                    <h1>403</h1>
                    <span class="sorry">{{ 'You don\'t have permission to access the requested directory. There is either no index document or the directory is read-protected.'|trans }}</span>
                    <p style="color:white;margin-top:-30px;">Server message: [Code: {{ status_code }}] {{ status_text }}</p>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <a class="btn-u btn-brd btn-u-light" href="{{ path('app_default_index') }}">{{ 'Go Back to Main Page'|trans }}</a>
                            <a class="btn-u btn-brd btn-u-light" href="javascript:window.history.back();">{{ 'Go Back'|trans }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--/container-->
    <!--End Error Block-->
{% endblock %}
