{% extends 'account/layout_clean.html.twig' %}

{% block title %}{{ 'Authorize access'|trans }} | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            background: url({{ asset('assets/img/background/bg-cyan.jpg') }}) fixed 50% 50%;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="container g-py-100">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-lg-5">
                <div class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30 g-bg-white">
                    <header class="text-center mb-4">
                        <h2 class="h2 g-color-black g-font-weight-600">Do You Authorize <br /><b>{{ client_info.clientIdentifier }}</b>?</h2>
                    </header>

                    <h4><b>{{ client_info.clientIdentifier }}</b> wants access to:</h4>
                    <ul>
                        {% for scope in scopes %}
                            <li>{{ scope }}</li>
                        {% endfor %}
                    </ul>

                    <footer class="text-center">
                        <form method="post">
                            <input type="submit" name="authorized" value="No" class="btn btn-md u-btn-red rounded" />
                            <input type="submit" name="authorized" value="Yes" class="btn btn-md u-btn-primary rounded" />
                        </form>
                    </footer>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
