{% extends 'default/layout.html.twig' %}

{% block content %}
    {% if not user_exists %}
        <div class="container content">
            <div class="heading text-center g-my-50">
                <h1>{{ 'This user doesn\'t exist.'|trans }}</h1>
            </div>
        </div>
    {% else %}
        <div class="container content">
            <div class="row">
                <div class="col-lg-3">
                    <div class="thumbnail">
                        <div class="card">
                            <img class="card-img-top" src="{{ path('app_account_api', {'function': 'get_img', 'user_id': current_user.id, 'height': 280, 'width': 280}) }}" alt="">
                            <div class="card-body">
                                <h4 class="card-title">{{ current_user.username }}</h4>
                                <hr />
                                {% if current_user.profile.name|length == 0 and current_user.profile.surname|length == 0 %}
                                    <p>{{ 'No name set'|trans }}</p>
                                {% else %}
                                    <p>{{ current_user.profile.name }} {{ current_user.profile.surname }}</p>
                                {% endif %}
                                <p>{% if current_user.profile.gender == 0 %}{{ 'No gender set'|trans }}
                                    {% elseif current_user.profile.gender == 1 %}{{ 'Male'|trans }}
                                    {% elseif current_user.profile.gender == 2 %}{{ 'Female'|trans }}
                                    {% endif %}</p>
                                <p>{{ current_user.profile.birthday|date('d.m.Y') }}</p>
                            </div>
                        </div>
                    </div>
                </div><!-- /.col-lg-3 -->
                <div class="col-lg-9">
                    {% if service_allowed %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
