{% extends 'store/theme1/layout.html.twig' %}

{% set service_page_links %}
    {% for text,link in current_store.page_links %}
        <li><a href="{{ link }}">{{ text }}</a></li>
    {% endfor %}
{% endset %}
{% set service = {
'page_name': current_store.name,
'page_logo_link': '/' ~ current_store.url,
'page_author': current_store.owner_username,
'page_description': current_store.page_description,
'page_keywords': current_store.page_keywords,
'page_links': service_page_links
} %}

{% block stylesheet %}
    {{ parent() }}
    <style type="text/css">
        .thumbnail img {
            width: 100%;
        }
        .ratings {
            padding-right: 10px;
            padding-left: 10px;
        }
        .thumbnail {
            padding: 0;
        }
        .thumbnail .caption-full {
            padding: 9px;
            color: #333;
        }
        .dropdown:hover .dropdown-menu {
            display: block;
            margin-top: 0;
        }
    </style>
{% endblock %}

{% block title %}{{ 'Index'|trans }} | {{ service.page_name }}{% endblock %}

{% block header %}
    <div class="container">
        <h1 class="page-header">{{ current_store.name }}</h1>
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-pills pull-left">
                    <li role="presentation" class="active"><a href="{{ path('app_store_store_index', {'store': current_store.url}) }}">{{ 'Home'|trans }}</a></li>
                    <li role="presentation"><a href="{{ path('app_store_store_checkout', {'store': current_store.url}) }}">{{ 'Checkout'|trans }}</a></li>
                </ul>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="nav-item dropdown shopping-cart">
                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 5px 10px;">
                            <i class="fa fa-shopping-cart fa-2x"></i>
                            <span class="badge pull-right">{{ cart.system.total_count }}</span>
                        </a>
                        <div class="dropdown-menu shopping-cart-open">
                            <div class="products-list">
                                <div class="mCustomScrollbar">
                                    {% if cart|length == 0 %}
                                        <span class="shc-title">{{ 'No products in cart'|trans }}</span>
                                        <hr style="margin-bottom:0;margin-top:5px" />
                                    {% else %}
                                        {% for product in cart %}
                                            {% if product.id != 0 %}
                                                <div class="products">
                                                    <div class="row">
                                                        <div class="col-xs-5">
                                                            <img alt="" class="img-responsive img-tab-space" src="{{ asset(product.image) }}" />
                                                        </div>
                                                        <div class="col-xs-7">
                                                            <a href="{{ path('app_store_store_do_remove_from_cart', {'store': current_store.url, 'product': product.id}) }}" class="close" data-dismiss="alert" aria-hidden="true">×</a>
                                                            <a class="product-link" href="{{ path('app_store_store_product', {'store': current_store.url, 'product': product.id}) }}">{{ product.title }}</a>
                                                            <p class="products-price">{{ product.in_cart }} x {% if product.in_sale %}{{ product.price_sale|number_format(2, '.', '\'') }} ${% else %}{{ product.price|number_format(2, '.', '\'') }} ${% endif %}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <hr style="margin-bottom:10px;margin-top:-25px" />
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                            <div class="checkout-bottom">
                                <a href="{{ path('app_store_store_checkout', {'store': current_store.url}) }}" class="btn btn-primary btn-xs"><i class="fa fa-shopping-cart"></i> {{ 'Cart'|trans }}</a>
                                <span class="shc-total">{{ 'Total:'|trans }} <strong>{{ cart.system.total_price|number_format(2, '.', '\'') }} $</strong></span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <hr />
    </div><!-- /.container -->
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {# Check if there is a product which isn't closed #}
            {% set counter = 0 %}
            {% for product in product_list %}
                {% if not product.closed %}
                    {% set counter = counter + 1 %}
                {% endif %}
            {% endfor %}

            {% if product_list|length == 0 or counter == 0 %}
                <p style="text-align: center"><b>{{ 'There aren\'t any products'|trans }}</b></p>
                <br />
            {% else %}
                {% for product in product_list %}
                    {% if not product.closed %}
                        <div class="col-sm-4 col-md-4 col-lg-4">
                            <div class="thumbnail">
                                <a href="{{ path('app_store_store_product', {'store': current_store.url, 'product': product.id}) }}">
                                    {# <img src="/img/store/' . $value['small_icon'] . '" title="' . $sName . '" /> #}
                                    <img src="//placehold.it/500x300" alt="" />
                                </a>
                                <div class="caption-full">
                                    <h4 class="pull-right">
                                        {% if product.price == 0 %}
                                            {{ 'Free'|trans }}
                                        {% else %}
                                            {{ product.price|number_format(2, '.', '\'') }} $ {# TODO: Make this editable by the user #}
                                        {% endif %}
                                    </h4>
                                    <h4>
                                        <a href="{{ path('app_store_store_product', {'store': current_store.url, 'product': product.id}) }}">{{ product.name }}</a>
                                        <br />
                                        {% if product.stock_available == 0 %}
                                            <span class="text-danger">{{ 'Sold!'|trans }}</span>
                                        {% endif %}
                                    </h4>
                                    <p>{{ product.short_description }}</p>
                                </div>
                                <div class="ratings">
                                    <p class="pull-right">{{ product.rating_count|number_format(0, '.', '\'') }} {{ 'Comments'|trans }}</p>
                                    <p>
                                        {% for i in 1..5 %}<span class="fa fa-star{% if product.rating_cache matches '/^[-+]?[0-9]*\\.?[0-9]+$/' and i > product.rating_cache and i < (product.rating_cache + 1) %}-half{% endif %}{% if i > product.rating_cache %}-o{% endif %}"></span>&nbsp;{% endfor %}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div><!-- /.row -->
    </div><!-- /.container -->
{% endblock %}
