{% extends 'layout.html.twig' %}

{% block title %}Home | {{ parent() }}{% endblock %}

{% block stylesheets_implemeting_plugins %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/plugins/parallax-slider/css/parallax-slider.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
{% endblock %}

{% block javascripts_implementing_plugins %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/plugins/parallax-slider/js/modernizr.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/plugins/parallax-slider/js/jquery.cslider.js') }}"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
{% endblock %}

{% block javascripts_page_level %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('assets/js/plugins/owl-carousel.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/style-switcher.js') }}"></script>
    <script type="text/javascript" src="{{ asset('assets/js/plugins/parallax-slider.js') }}"></script>
{% endblock %}

{% block javascripts_code %}
    {{ parent() }}
    OwlCarousel.initOwlCarousel();
    ParallaxSlider.initParallaxSlider();
{% endblock %}

{% block stylesheets_code %}
    <style type="text/css">
        .no-padding {
            padding-left: 0;
            padding-right: 0;
        }
    </style>
{% endblock %}

{% block header %}
    <!--=== Slider ===-->
    <div class="slider-inner">
        <div id="da-slider" class="da-slider">
            <div class="da-slide">
                <h2><i>BEAUTIFUL</i> <br /> <i>DESIGN</i></h2>
                <p><i>Everything we do is perfect.</i> <br /> <i>See yourself!</i></p>
                <div class="da-img"><img class="img-responsive" src="{{ asset('assets/plugins/parallax-slider/img/1.png') }}" alt=""></div>
            </div>
            <div class="da-slide">
                <h2><i>LEARN ABOUT US</i> <br /> <i>IN A VIDEO</i></h2>
                <p><i>Learn, in a video</i></p>
                <div class="da-img">
                    <iframe id="ytplayer" type="text/html" width="530" height="298.125"
                            src="https://www.youtube.com/embed/8tPnX7OPo0Q"
                            frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="da-arrows">
                <span class="da-arrows-prev"></span>
                <span class="da-arrows-next"></span>
            </div>
        </div>
    </div><!--/slider-->
    <!--=== End Slider ===-->
{% endblock %}

{% block body %}
    <!--=== Notice Block ===-->
    <div class="service-block-v5">
        <div class="container">
            <div class="margin-top-20 animated fadeInLeft">
                <h3>{{ 'IMPORTANT NOTICE'|trans }}</h3>
                <p>{{ 'The services are having major updates, please wait until we finish these updates, as the database is being truncated multiple times, and data will be lost.' }}</p>
                <p>{{ 'This includes, account, blog, forum and the store.' }}</p>
            </div>
        </div>
    </div>
    <!-- End Notice Block -->

    <!--=== Account Block ===-->
    <div class="service-block-v5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 animated fadeInLeft">
                    <div class="container-fluid no-padding">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="holder.js/500x300" class="img-responsive" style="width: 100%" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 margin-top-20 animated fadeInRight">
                    <h3>{{ 'Account'|trans }}</h3>
                    <p>{{ 'Save all you information in one place. There is no need for 20 different websites.'|trans }}</p>
                    <a href="{{ path('app_account_register') }}" class="btn-u btn-u-lg"><i class="fa fa-user-plus"></i> {{ 'Create an Account'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Account Block -->

    <!--=== Blog Block ===-->
    <div class="service-block-v5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 margin-top-20 animated fadeInLeft">
                    <h3>{{ 'Blog'|trans }}</h3>
                    <p>{{ 'The slim easy-to-use weblog for anyone.' }}</p>
                    <a href="{{ path('app_blog_new') }}" class="btn-u btn-u-lg"><i class="fa fa-user-plus"></i> {{ 'Create an blog'|trans }}</a>
                </div>
                <div class="col-md-6 animated fadeInRight">
                    <div class="container-fluid no-padding">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="holder.js/500x300" class="img-responsive" style="width: 100%" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog Block -->

    <!--=== Cloud Block ===-->
    <div class="service-block-v5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 animated fadeInLeft">
                    <div class="container-fluid no-padding">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="holder.js/500x300" class="img-responsive" style="width: 100%" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 margin-top-20 animated fadeInRight">
                    <h3>{{ 'Cloud'|trans }}</h3>
                    <p>{{ 'When creating an account you will also get an unlimited large storage.'|trans }}</p>
                    <a href="{{ path('app_account_register') }}" class="btn-u btn-u-lg"><i class="fa fa-user-plus"></i> {{ 'Create an Account'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Cloud Block -->

    <!--=== Forum Block ===-->
    <div class="service-block-v5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 margin-top-20 animated fadeInLeft">
                    <h3>{{ 'Forum'|trans }}</h3>
                    <p>{{ 'The slim easy-to-use forum/board for anyone.' }}</p>
                    <a href="{{ path('app_forum_new') }}" class="btn-u btn-u-lg"><i class="fa fa-user-plus"></i> {{ 'Create a forum'|trans }}</a>
                </div>
                <div class="col-md-6 animated fadeInRight">
                    <div class="container-fluid no-padding">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="holder.js/500x300" class="img-responsive" style="width: 100%" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Forum Block -->

    <!--=== Cloud Block ===-->
    <div class="service-block-v5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 animated fadeInLeft">
                    <div class="container-fluid no-padding">
                        <div class="row">
                            <div class="col-md-12">
                                <img src="holder.js/500x300" class="img-responsive" style="width: 100%" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 margin-top-20 animated fadeInRight">
                    <h3>{{ 'Store'|trans }}</h3>
                    <p>{{ 'Sell all your products/services as easily as possible.'|trans }}</p>
                    <a href="{{ path('app_store_new') }}" class="btn-u btn-u-lg"><i class="fa fa-user-plus"></i> {{ 'Create a store'|trans }}</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Cloud Block -->
{#
    <!--=== Purchase Block ===-->
    <div class="purchase">
        <div class="container">
            <div class="row">
                <div class="col-md-9 animated fadeInLeft">
                    <span>One account, many services.</span>
                    <p>With only one account you can have your unlimited large cloud, create blogs, forums, online shops, and many others. But we also offer simple tools like calculator.</p>
                </div>
                <div class="col-md-3 btn-buy animated fadeInRight">
                    <a href="{{ path('fos_user_registration_register') }}" class="btn-u btn-u-lg"><i class="fa fa-user-plus"></i> Create an Account</a>
                </div>
            </div>
        </div>
    </div><!--/row-->
    <!-- End Purchase Block -->

    <!--=== Content Part ===-->
    <div class="container content-sm">
        <!-- Service Blocks -->
        <div class="row margin-bottom-30">
            <div class="col-md-4">
                <div class="service">
                    <i class="fa fa-compress service-icon"></i>
                    <div class="desc">
                        <h4>Everything what you need we have</h4>
                        <p>You have the pssibility to get your own <b>Forum</b>, <b>Blog</b>, <b>Store</b> or your own <b>Wiki</b>.<br />We also offer many other things like a <b>Cloud</b></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <i class="fa fa-cogs service-icon"></i>
                    <div class="desc">
                        <h4>Maximal customisation</h4>
                        <p>Customise your apps until you like it. That works because we give you this option.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="service">
                    <i class="fa fa-lock service-icon"></i>
                    <div class="desc">
                        <h4>Safe and secure</h4>
                        <p>No one can hack your page, get private data or anything else. You are also ALWAYS secured by SSL when you access our page.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Service Blokcs -->

        <!-- Recent Works -->
        <div class="headline"><h2>Recent Works</h2></div>
        <div class="row margin-bottom-20">
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="{{ asset('assets/img/projects/img27.jpg') }}" alt="">
                        </div>
                        <a class="btn-more hover-effect" href="http://service.orbitrondev.org">read more +</a>
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="http://service.orbitrondev.org">Web Service</a></h3>
                        <p>All required web services on the web in one place. And everything can be used by creating only one account.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="{{ asset('assets/img/projects/img28.jpg') }}" alt="">
                        </div>
                        <a class="btn-more hover-effect" href="http://appstore.orbitrondev.org">read more +</a>
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="http://appstore.orbitrondev.org">App Store</a></h3>
                        <p>Do you hate to pay for something three times? Here is the solution. Here you pay one time and your desired application is available on every device. Well, it depends on the developer.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="{{ asset('assets/img/projects/img36.jpg') }}" alt="">
                        </div>
                        <a class="btn-more hover-effect" href="http://jarvis.orbitrondev.org">read more +</a>
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="http://jarvis.orbitrondev.org">Jarvis</a></h3>
                        <p>Bring Jarvis to real live. The best assistant for everyone, on any device!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <img class="img-responsive" src="{{ asset('assets/img/projects/img32.jpg') }}" alt="">
                        </div>
                        <a class="btn-more hover-effect" href="http://titanium.orbitrondev.org">read more +</a>
                    </div>
                    <div class="caption">
                        <h3><a class="hover-effect" href="http://titanium.orbitrondev.org">Titanium</a></h3>
                        <p>The most effective Operating System. It offers the security of Linux, the beautiness of OS X and the functionality of Windows. Sounds good, doesn't it?.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Recent Works -->

        <!-- Info Blokcs -->
        <div class="row margin-bottom-30">
            <!-- Welcome Block -->
            <div class="col-md-12 md-margin-bottom-40">
                <div class="headline"><h2>Welcome To OrbitronDev</h2></div>
                <div class="row">
                    <div class="col-sm-4">
                        <img class="img-responsive margin-bottom-20" src="{{ asset('assets/img/main/thumb-up.jpg') }}" alt="" style="width: 300px" />
                    </div>
                    <div class="col-sm-8">
                        <p>OrbitronDev gives you everything you need on one place, so forget every other website, we are special!</p>
                        <ul class="list-unstyled margin-bottom-20">
                            <li><i class="fa fa-check color-green"></i> The price is lower than everything you have ever seen</li>
                            <li><i class="fa fa-check color-green"></i> We work with perfection. So never expect a 1980 application from us</li>
                            <li><i class="fa fa-check color-green"></i> We do things because we love what we do, and because we need it</li>
                        </ul>
                    </div>
                </div>

                <blockquote class="hero-unify">
                    <p>Everything we do, will be done with perfection. Everything we sell, will be sold low. That are our goals and those will stay, no matter what happens.</p>
                    <small>CEO, Manuele Vaccari</small>
                </blockquote>
            </div><!--/col-md-8-->

            <!-- Latest Shots -->
            <div class="col-md-4">
                <div class="headline"><h2>Latest Shots</h2></div>
                <div id="myCarousel" class="carousel slide carousel-v1">
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="{{ asset('assets/img/main/img4.jpg') }}" alt="">
                            <div class="carousel-caption">
                                <p>Facilisis odio, dapibus ac justo acilisis gestinas.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ asset('assets/img/main/img2.jpg') }}" alt="">
                            <div class="carousel-caption">
                                <p>Cras justo odio, dapibus ac facilisis into egestas.</p>
                            </div>
                        </div>
                        <div class="item">
                            <img src="{{ asset('assets/img/main/img24.jpg') }}" alt="">
                            <div class="carousel-caption">
                                <p>Justo cras odio apibus ac afilisis lingestas de.</p>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-arrow">
                        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div>
            </div><!--/col-md-4-->
        </div>
        <!-- End Info Blokcs -->
    </div><!--/container-->
    <!-- End Content Part -->#}
{% endblock %}
