<section id="header">
    <div class="col-lg-12">
        <h1 class="page-header">{{ 'Pricing'|trans }}</h1>
        <ol class="breadcrumb">
            <li><a href="account">{{ 'Account'|trans }}</a></li>
            <li class="active">{{ 'Pricing'|trans }}</li>
        </ol><!-- /.breadcrumb -->
        <hr />
    </div><!-- /.col-lg-12 -->
</section><!-- /#header -->
<section id="page">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="text-center">{{ 'Basic'|trans }}</h4>
            </div><!-- /.panel-heading -->
            <div class="panel-body text-center">
                <p class="lead">
                    <strong>{{ 'Free / forever'|trans }}</strong>
                </p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                    {{ 'Use account feature'|trans }}
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'Use our whole service'|trans }}
                    <span class="glyphicon glyphicon-remove pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'Create multiple services (e.g. 2 Blogs)'|trans }}
                    <span class="glyphicon glyphicon-remove pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'Technical Support'|trans }}
                    <span class="glyphicon glyphicon-remove pull-right"></span>
                </li>
            </ul>
            <div class="panel-footer">
                {% if current_user_sub.subscription_id == 1 %}
                    <p class="btn btn-lg btn-block btn-default">{{ 'Your plan'|trans }}</p>
                {% else %}
                    <a class="btn btn-lg btn-block btn-success">{{ 'Set this plan'|trans }}</a>
                {% endif %}
            </div>
        </div>
        <!-- /.panel .panel-success -->
    </div><!-- /.col-md-4 -->
    <div class="col-md-4">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h4 class="text-center">{{ 'Premium'|trans }}</h4>
            </div><!-- /.panel-heading -->
            <div class="panel-body text-center">
                <p class="lead">
                    <strong>{{ '9.99$ / month'|trans }}</strong>
                </p>
            </div><!-- /.panel-body -->
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                    {{ 'Use account feature'|trans }}
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'Use our whole service'|trans }}
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'Create multiple services (e.g. 2 Blogs)'|trans }}
                    <span class="glyphicon glyphicon-remove pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'Technical Support'|trans }}
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </li>
            </ul>
            <div class="panel-footer">
                {% if current_user_sub.subscription_id == 2 %}
                    <p class="btn btn-lg btn-block btn-default">{{ 'Your plan'|trans }}</p>
                {% else %}
                    <a class="btn btn-lg btn-block btn-success">{{ 'Set this plan'|trans }}</a>
                {% endif %}
            </div>
        </div><!-- /.panel .panel-info -->
    </div><!-- /.col-md-4 -->
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4 class="text-center">{{ 'Enterprise'|trans }}</h4>
            </div><!-- /.panel-heading -->
            <div class="panel-body text-center">
                <p class="lead">
                    <strong>{{ '29.99$ / month'|trans }}</strong>
                </p>
            </div><!-- /.panel-body -->
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                    {{ 'Use account feature'|trans }}
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'Use our whole service'|trans }}
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'Create multiple services (e.g. 2 Blogs)'|trans }}
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'Technical Support'|trans }}
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </li>
            </ul>
            <div class="panel-footer">
                {% if current_user_sub.subscription_id == 3 %}
                    <p class="btn btn-lg btn-block btn-default">{{ 'Your plan'|trans }}</p>
                {% else %}
                    <a class="btn btn-lg btn-block btn-success">{{ 'Set this plan'|trans }}</a>
                {% endif %}
            </div>
        </div><!-- /.panel .panel-primary -->
    </div><!-- /.col-md-4 -->
</section><!-- /#page -->