{# Reference: https://stackoverflow.com/questions/40707461/recursive-macro-in-twig #}
{% macro recursiveCategory(category, level) %}
    {% import _self as self %}
    <ul class="list-unstyled">
        <li class="media {% if level|default(0) > 0 %}mt-3{% endif %}">
            <img class="mr-3" src="//placehold.it/64x64" alt="Image">
            <div class="media-body">
                <h5 class="mt-0">{{ category.title }} (ID: {{ category.id }})</h5>
                {{ category.description }}
                {% if category.boards|length %}
                    {% for child in category.boards %}
                        {{ self.recursiveCategory(child, level|default(0) + 1) }}
                    {% endfor %}
                {% endif %}
            </div>
        </li>
    </ul>
{% endmacro %}

{% from _self import recursiveCategory %}

<h1>{{ 'List all boards'|trans }}</h1>
<hr />
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item active">{{ 'Forums'|trans }}</li>
</ol>
<hr />
<a href="{{ path('app_forum_forum_admin', {'forum': current_forum.url, 'page': 'new-board'}) }}" class="btn btn-success">{{ 'Create new board'|trans }}</a>
<hr />
<div class="card">
    <div class="card-body">
        {% for board in board_list %}
            {{ recursiveCategory(board) }}
        {% endfor %}
    </div>
</div>
<hr />
<a href="{{ path('app_forum_forum_admin', {'forum': current_forum.url, 'page': 'new-board'}) }}" class="btn btn-success">{{ 'Create new board'|trans }}</a>
