<h1>{{ 'New Board'|trans }}</h1>
<hr />
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">{{ 'Boards'|trans }}</li>
    <li class="breadcrumb-item active">{{ 'Create...'|trans }}</li>
</ol>
<hr />
<div class="row">
    <div class="col-md-6">
        {% if board_added|length > 0 and board_added == 1 %}
            <div class="alert alert-success fade in alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ 'Your board/category was added!'|trans }}
            </div>
        {% elseif board_added|length > 0 and board_added == 0 %}
            <div class="alert alert-danger fade in alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                {{ 'Your board/category wasn\'t added! Try again'|trans }}
            </div>
        {% endif %}
        <div class="card">
            <div class="card-header">
                {{ 'Add board'|trans }}
            </div>
            <div class="card-body">
                {{ form_start(create_board_form, {'action': path('app_forum_forum_admin', {'forum': current_forum.url, 'page': 'new-board'})}) }}
                    {{ form_errors(create_board_form) }}

                    <div class="form-group row">
                        {{ form_label(create_board_form.name, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                        <div class="col-sm-8">
                            {{ form_widget(create_board_form.name, {'attr': {'class': 'form-control'}}) }}
                            <small class="form-text">{{ 'How should your board be called?'|trans }}</small>
                            <small class="form-text text-danger">{{ form_errors(create_board_form.name) }}</small>
                        </div>
                    </div>

                    <div class="form-group row">
                        {{ form_label(create_board_form.description, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                        <div class="col-sm-8">
                            {{ form_widget(create_board_form.description, {'attr': {'class': 'form-control'}}) }}
                            <small class="form-text">{{ 'You want to add a description for more information? (optional)'|trans }}</small>
                            <small class="form-text text-danger">{{ form_errors(create_board_form.description) }}</small>
                        </div>
                    </div>

                    <div class="form-group row">
                        {{ form_label(create_board_form.parent, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                        <div class="col-sm-8">
                            {{ form_widget(create_board_form.parent, {'attr': {'class': 'form-control'}}) }}
                            <small class="form-text">{{ 'For what board should this be the child?'|trans }}</small>
                            <small class="form-text text-danger">{{ form_errors(create_board_form.parent) }}</small>
                        </div>
                    </div>

                    <div class="form-group row">
                        {{ form_label(create_board_form.type, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                        <div class="col-sm-8">

                            {% for key, type in create_board_form.type %}
                                <label class="custom-control custom-radio">
                                    {{ form_widget(type, {'attr': {'class': 'custom-control-input'}}) }}
                                    <span class="custom-control-indicator"></span>
                                    {{ form_label(type, null, {'label_attr': {'class': 'custom-control-description'}}) }}
                                </label>
                            {% endfor %}

                            <small class="form-text">{{ 'What do you want to add?'|trans }}</small>
                            <small class="form-text text-danger">{{ form_errors(create_board_form.type) }}</small>
                        </div>
                    </div>
                    <hr />
                    {{ form_widget(create_board_form.send, {'attr': {'class': 'btn btn-success btn-block'}}) }}
                {{ form_end(create_board_form) }}
            </div>
        </div>
    </div>
</div>
