{% extends 'default/layout.html.twig' %}

{% block title %}{{ 'Contact us'|trans }} | {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('vendor/cubeportfolio-full/cubeportfolio/css/cubeportfolio.min.css', 'local-theme') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('vendor/gmaps/gmaps.min.js', 'local-theme') }}"></script>
    <script src="{{ asset('js/components/gmap/hs.map.js', 'local-theme') }}"></script>
    <script>
        // initialization of google map
        function initMap() {
            $.HSCore.components.HSGMap.init('.js-g-map');
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSO1fpoQuukeVKiueZxzqhLCFlkgP0IMM&callback=initMap" async defer></script>
{% endblock %}

{% block content %}
    <!-- Breadcrumbs -->
    <section class="g-bg-gray-light-v5 g-py-50">
        <div class="container">
            <div class="d-sm-flex text-center">
                <div class="align-self-center">
                    <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">{{ 'Contact us'|trans }}</h2>
                </div>

                <div class="align-self-center ml-auto">
                    <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="{{ path('app_default_index') }}">{{ 'Home'|trans }}</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-primary">
                            <span>{{ 'Contact us'|trans }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <!-- Google Map -->
    <div id="GMapCustomized-light" class="js-g-map embed-responsive embed-responsive-21by9 g-height-400" data-type="custom" data-lat="40.674" data-lng="-73.946" data-zoom="12" data-title="Agency" data-styles='[["", "", [{"saturation":-100},{"lightness":51},{"visibility":"simplified"}]], ["", "labels", [{"visibility":"on"}]], ["water", "", [{"color":"#bac6cb"}]] ]'
         data-pin="true" data-pin-icon="{{ asset('img/icons/pin/green.png', 'local-theme') }}">
    </div>
    <!-- End Google Map -->

    <section class="container g-pt-100 g-pb-40">
        <div class="row justify-content-between">
            <div class="col-md-7 g-mb-60">
                {% for message in app.session.flashbag.get('success') %}
                    <!-- Teal Alert -->
                    <div class="alert alert-dismissible fade show g-bg-teal g-color-white rounded-0" role="alert">
                        <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>

                        <div class="media">
                            <span class="d-flex g-mr-10 g-mt-5">
                                <i class="icon-check g-font-size-25"></i>
                            </span>
                            <span class="media-body align-self-center">
                                {{ message|trans }}
                            </span>
                        </div>
                    </div>
                    <!-- End Teal Alert -->
                {% endfor %}
                {% for message in app.session.flashbag.get('failure') %}
                    <!-- Red Alert -->
                    <div class="alert alert-dismissible fade show g-bg-red g-color-white rounded-0" role="alert">
                        <button type="button" class="close u-alert-close--light" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>

                        <div class="media">
                            <span class="d-flex g-mr-10 g-mt-5">
                                <i class="icon-ban g-font-size-25"></i>
                            </span>
                            <span class="media-body align-self-center">
                                {{ message|trans }}
                            </span>
                        </div>
                    </div>
                    <!-- End Red Alert -->
                {% endfor %}

                <!-- Contact Form -->
                {{ form_start(contact_form, {'action': path('app_default_contact')}) }}
                <div class="row">
                    {{ form_errors(contact_form) }}
                    <div class="col-md-6 form-group g-mb-20">
                        {{ form_label(contact_form.name, null, {'label_attr': {'class': 'g-color-gray-dark-v2 g-font-size-13'}}) }}
                        {{ form_widget(contact_form.name, {'attr': {'class': 'form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15'}}) }}
                        <div class="note note-error">{{ form_errors(contact_form.name) }}</div>
                    </div>

                    <div class="col-md-6 form-group g-mb-20">
                        {{ form_label(contact_form.email, null, {'label_attr': {'class': 'g-color-gray-dark-v2 g-font-size-13'}}) }}
                        {{ form_widget(contact_form.email, {'attr': {'class': 'form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15'}}) }}
                        <div class="note note-error">{{ form_errors(contact_form.email) }}</div>
                    </div>

                    <div class="col-md-12 form-group g-mb-20">
                        {{ form_label(contact_form.subject, null, {'label_attr': {'class': 'g-color-gray-dark-v2 g-font-size-13'}}) }}
                        {{ form_widget(contact_form.subject, {'attr': {'class': 'form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus rounded-3 g-py-13 g-px-15'}}) }}
                        <div class="note note-error">{{ form_errors(contact_form.subject) }}</div>
                    </div>

                    <div class="col-md-12 form-group g-mb-40">
                        {{ form_label(contact_form.message, null, {'label_attr': {'class': 'g-color-gray-dark-v2 g-font-size-13'}}) }}
                        {{ form_widget(contact_form.message, {'attr': {'class': 'form-control g-color-gray-dark-v5 g-bg-white g-bg-white--focus g-brd-gray-light-v4 g-brd-primary--focus g-resize-none rounded-3 g-py-13 g-px-15'}}) }}
                        <div class="note note-error">{{ form_errors(contact_form.message) }}</div>
                    </div>
                </div>

                <div class="g-mb-20">
                    {{ form_widget(contact_form.recaptcha) }}
                </div>

                <div class="g-mb-20">
                    <label class="u-check g-pl-25">
                        {{ form_widget(contact_form.send_to_own, {'attr': {'class': 'g-hidden-xs-up g-pos-abs g-top-0 g-left-0'}}) }}
                        <span class="u-check-icon-checkbox-v4 g-absolute-centered--y g-left-0"><i class="fa" data-check-icon=""></i></span>
                        {{ contact_form.send_to_own.vars.label }}
                    </label>
                </div>

                <div>{{ form_widget(contact_form.send, {'attr': {'class': 'btn u-btn-primary rounded-3 g-py-12 g-px-20'}}) }}</div>
                {{ form_end(contact_form) }}
                <!-- End Contact Form -->
            </div>

            <div class="col-md-4">
                <h1 class="g-font-weight-300 mb-5">{{ 'OrbitronDev' }}</h1>

                <div class="mb-4">
                    <h2 class="h5 g-color-gray-dark-v2 g-font-weight-600">Email us:</h2>
                    <p class="g-color-gray-dark-v4">{{ 'Email:'|trans }}: <a class="g-color-gray-dark-v2" href="mailto:info@orbitrondev.org">info@orbitrondev.org</a>
                    </p>
                </div>

                <div class="g-mb-30">
                    <p class="g-color-gray-dark-v5 g-font-weight-600 g-font-size-16"><em>Monday - Friday: 9:00 AM to 6:00 PM</em>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
