<!DOCTYPE html>
<html lang="{{ app.request.getLocale() }}">
<head>
    <!-- Title -->
    <title>{% block title %}OrbitronDev{% endblock %}</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="{% block description %}The official site of OrbitronDev. Containing all projects and everything about us.{% endblock %}" />
    <meta name="author" content="OrbitronDev" />
    <meta name="publisher" content="OrbitronDev" />
    <meta name="copyright" content="OrbitronDev &copy; 2013-2017" />
    <meta name="keywords" content="" />
    <meta name="audience" content="Alle" />
    <meta name="robots" content="INDEX,FOLLOW" />
    <script type='application/ld+json'>
        {
            "@context": "http://www.schema.org",
            "@type": "Organization",
            "name": "OrbitronDev",
            "url": "https://www.orbitrondev.org",
            "logo": "https://www.orbitrondev.org/img/logo.png",
            "description": "{{ 'We develop multiple web services'|trans }}",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Salzstrasse 50",
                "addressLocality": "Möhlin",
                "postalCode": "4313",
                "addressCountry": "Switzerland"
            },
            "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "+41 61 921 82 40",
                "contactType": "customer service"
            }
        }
    </script>
    <link rel="search" type="application/opensearchdescription+xml" href="{{ asset('opensearch.xml') }}" title="OrbitronDev Search" />

    <!-- Favicon -->
    {% include 'default/_favicon.html.twig' %}

    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C300%2C500%2C600%2C700" />

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/offcanvas.css', 'local-theme') }}" />

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" />
    <link rel="stylesheet" href="{{ asset('vendor/icon-etlinefont/style.css', 'local-theme') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/icon-line-pro/style.css', 'local-theme') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/icon-hs/style.css', 'local-theme') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/dzsparallaxer/dzsparallaxer.css', 'local-theme') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/dzsparallaxer/dzsscroller/scroller.css', 'local-theme') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/dzsparallaxer/advancedscroller/plugin.css', 'local-theme') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
    <link rel="stylesheet" href="{{ asset('vendor/hamburgers/hamburgers.min.css', 'local-theme') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/malihu-scrollbar/jquery.mCustomScrollbar.min.css', 'local-theme') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/slick-carousel/slick/slick.css', 'local-theme') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/fancybox/jquery.fancybox.css', 'local-theme') }}" />
    <link rel="stylesheet" href="{{ asset('vendor/hs-megamenu/src/hs.megamenu.css', 'local-theme') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.4/cookieconsent.min.css" />

    <!-- CSS Unify -->
    <link rel="stylesheet" href="{{ asset('css/unify-core.css', 'local-theme') }}" />
    <link rel="stylesheet" href="{{ asset('css/unify-components.css', 'local-theme') }}" />
    <link rel="stylesheet" href="{{ asset('css/unify-globals.css', 'local-theme') }}" />

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{{ asset('css/custom.css') }}" />
    {% block stylesheets %}{% endblock %}
</head>

<body>
<main>
    {% block navigation %}
        <!-- Header -->
        <header id="js-header" class="u-header u-header--static u-header--show-hide u-header--change-appearance u-header--has-hidden-element" data-header-fix-moment="500" data-header-fix-effect="slide">
            <div class="u-header__section u-header__section--light g-bg-white g-transition-0_3 g-py-15" data-header-fix-moment-exclude="g-py-15" data-header-fix-moment-classes="u-shadow-v18 g-py-7">
                <div class="container">
                    <div class="d-lg-flex flex-md-row align-items-center g-pos-rel">
                        <!-- Responsive Toggle Button -->
                        <button class="navbar-toggler navbar-toggler-right btn g-hidden-lg-up g-line-height-1 g-brd-none g-pa-0 g-pos-abs g-top-3 g-right-0" type="button" aria-label="{{ 'header.toggle_nav'|trans }}" aria-expanded="false" aria-controls="navBar" data-toggle="collapse" data-target="#navBar">
                            <span class="hamburger hamburger--slider">
                                <span class="hamburger-box">
                                    <span class="hamburger-inner"></span>
                                </span>
                            </span>
                        </button>
                        <!-- End Responsive Toggle Button -->
                        <!-- Logo -->
                        <a href="{{ path('app_default_index') }}" class="navbar-brand">
                            <img src="{{ asset('img/logo-long.png') }}" alt="" height="30px">
                        </a>
                        <!-- End Logo -->

                        <div class="col g-mt-10 g-mt-0--lg g-px-0">
                            <ul class="list-inline text-uppercase g-font-weight-600 text-lg-right u-header--hidden-element g-line-height-1 g-font-size-12 g-mt-minus-10 g-mx-minus-4 g-mb-20">
                                {% if current_user is empty or current_user.id == -1 %}
                                    <li class="list-inline-item g-mx-4 g-mt-10">
                                        <a href="{{ path('app_account_login', {'redir': app.request.uri}) }}" class="g-color-gray-dark-v2 g-color-primary--hover g-text-underline--none--hover">{{ 'header.account.login'|trans }}</a>
                                    </li>
                                    <li class="list-inline-item g-mx-4 g-mt-10">|</li>
                                    <li class="list-inline-item g-mx-4 g-mt-10">
                                        <a href="{{ path('app_account_register') }}" class="g-color-gray-dark-v2 g-color-primary--hover g-text-underline--none--hover">{{ 'header.account.register'|trans }}</a>
                                    </li>
                                {% else %}
                                    <li class="list-inline-item g-mx-4 g-mt-10">
                                        <a href="{{ path('app_account_index') }}" class="g-color-gray-dark-v2 g-color-primary--hover g-text-underline--none--hover">{{ 'header.account.account'|trans }}</a>
                                    </li>
                                    <li class="list-inline-item g-mx-4 g-mt-10">|</li>
                                    <li class="list-inline-item g-mx-4 g-mt-10">
                                        <a href="{{ path('app_account_logout', {'redir': app.request.uri}) }}" class="g-color-gray-dark-v2 g-color-primary--hover g-text-underline--none--hover">{{ 'header.account.logout'|trans }}</a>
                                    </li>
                                {% endif %}
                                <li class="list-inline-item g-mx-4 g-mt-10">|</li>
                                <li class="list-inline-item g-pos-rel g-mx-4 g-mt-10">
                                    <i class="fa fa-globe g-font-size-14 g-mr-3"></i>
                                    {% set languages = {
                                        'en': 'EN','fr': 'FR','de': 'DE','it': 'IT','es': 'ES',
                                    } %}
                                    <a href="#" id="languages-dropdown-invoker-2" class="g-color-gray-dark-v2 g-color-primary--hover g-text-underline--none--hover" aria-controls="languages-dropdown-2" aria-haspopup="true" aria-expanded="false" data-dropdown-event="click" data-dropdown-target="#languages-dropdown-2"
                                       data-dropdown-type="css-animation" data-dropdown-duration="300" data-dropdown-hide-on-scroll="false" data-dropdown-animation-in="fadeIn" data-dropdown-animation-out="fadeOut">{{ languages[app.request.getLocale()] }}
                                    </a>
                                    <ul id="languages-dropdown-2" class="list-unstyled text-left u-shadow-v23 g-pos-abs g-right-0 g-bg-white g-width-160 g-py-20 g-pb-15 g-mt-5 g-z-index-99" aria-labelledby="languages-dropdown-invoker-2">
                                        <li><a class="d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-py-8 g-px-20" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}"><img src="{{ asset('img/flags/United-States-of-America.png') }}" style="height:1em" /> {{ 'header.language.english.long'|trans }}</a></li>
                                        <li><a class="d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-py-8 g-px-20" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}"><img src="{{ asset('img/flags/France.png') }}" style="height:1em" /> {{ 'header.language.french.long'|trans }}</a></li>
                                        <li><a class="d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-py-8 g-px-20" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'de'})) }}"><img src="{{ asset('img/flags/Germany.png') }}" style="height:1em" /> {{ 'header.language.german.long'|trans }}</a></li>
                                        <li><a class="d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-py-8 g-px-20" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'it'})) }}"><img src="{{ asset('img/flags/Italy.png') }}" style="height:1em" /> {{ 'header.language.italian.long'|trans }}</a></li>
                                        <li><a class="d-block g-color-main g-color-primary--hover g-text-underline--none--hover g-py-8 g-px-20" href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}"><img src="{{ asset('img/flags/Spain.png') }}" style="height:1em" /> {{ 'header.language.spanish.long'|trans }}</a></li>
                                    </ul>
                                </li>
                            </ul>

                            <nav class="navbar navbar-expand-lg p-0">
                                <!-- Navigation -->
                                <div class="js-mega-menu collapse navbar-collapse align-items-center flex-sm-row g-pt-10 g-pt-5--lg g-mr-40--sm" id="navBar">
                                    <ul class="navbar-nav text-uppercase g-font-weight-600 ml-auto">
                                        <li class="nav-item g-mx-20--lg"><a href="{{ path('app_default_index') }}" class="nav-link px-0">{{ 'header.home'|trans }}</a></li>

                                        <!-- Features -->
                                        <li class="nav-item hs-has-sub-menu g-mx-10--lg g-mx-15--xl" data-animation-in="fadeIn" data-animation-out="fadeOut">
                                            <a id="nav-link--features" class="nav-link g-py-7 g-px-0" href="#" aria-haspopup="true" aria-expanded="false" aria-controls="nav-submenu--features"><i class="fa fa-th" style="font-size: 1.9em; vertical-align: middle;"></i></a>

                                            <ul class="hs-sub-menu list-unstyled u-shadow-v11 g-brd-top g-brd-primary g-brd-top-2 g-min-width-220 g-mt-18 g-mt-8--lg--scrolling" id="nav-submenu--features" aria-labelledby="nav-link--features">
                                                <!-- Blog -->
                                                <li class="dropdown-item">
                                                    <a class="nav-link" href="https://service-blog.herokuapp.com"><i class="fa fa-rss"></i> {{ 'header.services.blog'|trans }}</a>
                                                </li>
                                                <!-- End Blog -->

                                                <!-- Cloud -->
                                                <li class="dropdown-item">
                                                    <a class="nav-link" href="https://service-cloud.herokuapp.com"><i class="fa fa-cloud"></i> {{ 'header.services.cloud'|trans }}</a>
                                                </li>
                                                <!-- End Cloud -->

                                                <!-- Forum -->
                                                <li class="dropdown-item">
                                                    <a class="nav-link" href="{{ path('app_forum_index') }}"><i class="fa fa-users"></i> {{ 'header.services.forum'|trans }}</a>
                                                </li>
                                                <!-- End Forum -->

                                                <!-- Site -->
                                                <li class="dropdown-item">
                                                    <a class="nav-link" href="#"><i class="fa fa-code"></i> {{ 'header.services.site'|trans }}</a>
                                                </li>
                                                <!-- End Site -->

                                                <!-- Store -->
                                                <li class="dropdown-item">
                                                    <a class="nav-link" href="https://service-store0.herokuapp.com"><i class="fa fa-shopping-cart"></i> {{ 'header.services.store'|trans }}</a>
                                                </li>
                                                <!-- End Store -->

                                                <!-- Wiki -->
                                                <li class="dropdown-item">
                                                    <a class="nav-link" href="{{ path('app_wiki_index') }}"><i class="fa fa-info"></i> {{ 'header.services.wiki'|trans }}</a>
                                                </li>
                                                <!-- End Wiki -->



                                                <!-- Projects -->
                                                <li class="dropdown-item">
                                                    <a class="nav-link" href="{{ path('app_project_index') }}">{{ 'header.services.footer'|trans }}</a>
                                                </li>
                                                <!-- End Projects -->
                                            </ul>
                                        </li>
                                        <!-- End Features -->
                                    </ul>
                                </div>
                                <!-- End Navigation -->

                                <!-- Search -->
                                <div class="d-inline-block g-pos-rel g-valign-middle g-pt-3">
                                    <a href="#" class="g-font-size-18 g-color-main" aria-haspopup="true" aria-expanded="false" aria-controls="searchform-1" data-dropdown-target="#searchform-1" data-dropdown-type="css-animation" data-dropdown-duration="300" data-dropdown-animation-in="fadeInUp"
                                       data-dropdown-animation-out="fadeOutDown">
                                        <i class="fa fa-search"></i>
                                    </a>

                                    <!-- Search Form -->
                                    <form action="{{ path('app_default_search') }}" method="get" id="searchform-1" class="u-searchform-v1 u-dropdown--css-animation u-dropdown--hidden g-bg-white g-pa-10 g-mt-20">
                                        <div class="input-group g-brd-primary--focus">
                                            <input class="form-control rounded-0 u-form-control" type="search" name="q" placeholder="{{ 'header.search'|trans }}">

                                            <div class="input-group-addon p-0">
                                                <button class="btn rounded-0 btn-primary btn-md g-font-size-14 g-px-18" type="submit">{{ 'header.go'|trans }}</button>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- End Search Form -->
                                </div>
                                <!-- End Search -->
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End Header -->
    {% endblock %}

    <noscript>
        <div class="card text-white bg-danger">
            <div class="card-body">
                {{ 'Missing JavaScript support'|trans }}
                <br />
                {{ 'Javascript is disabled on your browser. Please enable JavaScript or upgrade to a Javascript-capable browser.'|trans }}
            </div>
        </div>
    </noscript>

    {% block content %}
        <!-- Content -->
        <section class="g-py-50">
            <div class="container">
                <h1 class="g-mb-20">Blank Page!</h1>
            </div>
        </section>
        <!-- End Content -->
    {% endblock %}

    {% block footer %}
        <!-- Footer -->
        <div class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
            <div class="container">
                <div class="row">
                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">{{ 'footer.description.title'|trans }}</h2>
                        </div>
                        <p>{{ 'footer.description.part1'|trans }}</p>
                        <p>{{ 'footer.description.part2'|trans }}</p>
                    </div>
                    <!-- End Footer Content -->

                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                        <div></div>
                    </div>
                    <!-- End Footer Content -->

                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">{{ 'footer.links.title'|trans }}</h2>
                        </div>

                        <nav class="text-uppercase1">
                            <ul class="list-unstyled g-mt-minus-10 mb-0">
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{{ path('app_default_about') }}">{{ 'footer.links.link1'|trans }}</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{{ path('app_default_contact') }}">{{ 'footer.links.link3'|trans }}</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                                <li class="g-pos-rel g-py-10">
                                    <h4 class="h6 g-pr-20 mb-0">
                                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{{ path('app_project_index') }}">{{ 'footer.links.link4'|trans }}</a>
                                        <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                                    </h4>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!-- End Footer Content -->

                    <!-- Footer Content -->
                    <div class="col-lg-3 col-md-6">
                        <div class="u-heading-v2-3--bottom g-brd-white-opacity-0_8 g-mb-20">
                            <h2 class="u-heading-v2__title h6 text-uppercase mb-0">{{ 'footer.contact.title'|trans }}</h2>
                        </div>

                        <address class="g-bg-no-repeat g-font-size-12 mb-0" style="background-image: url({{ asset('img/maps/map2.png', 'local-theme') }});">
                            <!-- Email and Website -->
                            <div class="d-flex g-mb-20">
                                <div class="g-mr-10">
                                    <span class="u-icon-v3 u-icon-size--xs g-bg-white-opacity-0_1 g-color-white-opacity-0_6">
                                        <i class="fa fa-globe"></i>
                                    </span>
                                </div>
                                <p class="mb-0">
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="mailto:{{ 'footer.contact.email'|trans }}">{{ 'footer.contact.email'|trans }}</a>
                                    <br>
                                    <a class="g-color-white-opacity-0_8 g-color-white--hover" href="{{ path('app_default_index') }}">{{ 'footer.contact.web'|trans }}</a>
                                </p>
                            </div>
                            <!-- End Email and Website -->
                        </address>
                    </div>
                    <!-- End Footer Content -->
                </div>
            </div>
        </div>
        <!-- End Footer -->

        <!-- Copyright Footer -->
        <footer class="g-bg-gray-dark-v1 g-color-white-opacity-0_8 g-py-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 text-center text-md-left g-mb-10 g-mb-0--md">
                        <div class="d-lg-flex">
                            <small class="d-block g-font-size-default g-mr-10 g-mb-10 g-mb-0--md">{{ 'footer.legal.reserved'|trans }}</small>
                            <ul class="u-list-inline">
                                <li class="list-inline-item">
                                    <a class="g-color-white-opacity-0_8 g-color-primary g-color-white--hover" href="{{ path('app_default_privacy') }}">{{ 'footer.legal.privacy'|trans }}</a>
                                </li>
                                <li class="list-inline-item">
                                    <span>|</span>
                                </li>
                                <li class="list-inline-item">
                                    <a class="g-color-white-opacity-0_8 g-color-primary g-color-white--hover" href="{{ path('app_default_terms') }}">{{ 'footer.legal.tos'|trans }}</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4 align-self-center">
                        <ul class="list-inline text-center text-md-right mb-0">
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-10" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                                <a href="#" class="g-color-white-opacity-0_5 g-color-white--hover">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Copyright Footer -->

        <!-- Go To Top -->
        <a class="js-go-to u-go-to-v1" href="#"
           data-type="fixed"
           data-position='{
           "bottom": 15,
           "right": 15
         }'
           data-offset-top="300"
           data-compensation="#js-header"
           data-show-effect="zoomIn">
            <i class="hs-icon hs-icon-arrow-top"></i>
        </a>
        <!-- End Go To Top -->
    {% endblock %}
</main>

<!-- JS Google Analytics -->
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        };
        i[r].l = 1 * new Date();
        a = s.createElement(o);
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-69484706-1', 'auto');
    ga('send', 'pageview');
</script>

<!-- JS Global Compulsory -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.1/jquery-migrate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<script src="{{ asset('vendor/bootstrap/offcanvas.js', 'local-theme') }}"></script>

<!-- JS Implementing Plugins -->
<script src="{{ asset('vendor/hs-megamenu/src/hs.megamenu.js', 'local-theme') }}"></script>
<script src="{{ asset('vendor/dzsparallaxer/dzsparallaxer.js', 'local-theme') }}"></script>
<script src="{{ asset('vendor/dzsparallaxer/dzsscroller/scroller.js', 'local-theme') }}"></script>
<script src="{{ asset('vendor/dzsparallaxer/advancedscroller/plugin.js', 'local-theme') }}"></script>
<script src="{{ asset('vendor/masonry/dist/masonry.pkgd.min.js', 'local-theme') }}"></script>
<script src="{{ asset('vendor/imagesloaded/imagesloaded.pkgd.min.js', 'local-theme') }}"></script>
<script src="{{ asset('vendor/malihu-scrollbar/jquery.mCustomScrollbar.concat.min.js', 'local-theme') }}"></script>
<script src="{{ asset('vendor/slick-carousel/slick/slick.js', 'local-theme') }}"></script>
<script src="{{ asset('vendor/fancybox/jquery.fancybox.min.js', 'local-theme') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.4/cookieconsent.min.js"></script>

<!-- JS Unify -->
<script src="{{ asset('js/hs.core.js', 'local-theme') }}"></script>

<script src="{{ asset('js/components/hs.header.js', 'local-theme') }}"></script>
<script src="{{ asset('js/helpers/hs.hamburgers.js', 'local-theme') }}"></script>

<script src="{{ asset('js/components/hs.dropdown.js', 'local-theme') }}"></script>
<script src="{{ asset('js/components/hs.scrollbar.js', 'local-theme') }}"></script>
<script src="{{ asset('js/components/hs.popup.js', 'local-theme') }}"></script>
<script src="{{ asset('js/components/hs.carousel.js', 'local-theme') }}"></script>

<script src="{{ asset('js/components/hs.go-to.js', 'local-theme') }}"></script>

<!-- JS Custom -->
<script src="{{ asset('js/custom.js') }}"></script>

<!-- JS Plugins Init. -->
<script>
    $(document).on('ready', function () {
        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of carousel
        $.HSCore.components.HSCarousel.init('.js-carousel');

        // initialization of HSDropdown component
        $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
            afterOpen: function(){
                $(this).find('input[type="search"]').focus();
            }
        });

        // initialization of HSScrollBar component
        $.HSCore.components.HSScrollBar.init($('.js-scrollbar'));

        // initialization of masonry
        $('.masonry-grid').imagesLoaded().then(function () {
            $('.masonry-grid').masonry({
                columnWidth: '.masonry-grid-sizer',
                itemSelector: '.masonry-grid-item',
                percentPosition: true
            });
        });

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox');
    });

    $(window).on('load', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu plugin
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
        });
    });

    $(document).ready(function() {
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "#252e39"
                },
                "button": {
                    "background": "#14a7d0"
                }
            },

            onInitialise: function (status) {
                var type = this.options.type;
                var didConsent = this.hasConsented();
                if (type === 'opt-in' && didConsent) {
                    // enable cookies
                }
                if (type === 'opt-out' && !didConsent) {
                    // disable cookies
                }
            },

            onStatusChange: function(status, chosenBefore) {
                var type = this.options.type;
                var didConsent = this.hasConsented();
                if (type === 'opt-in' && didConsent) {
                    // enable cookies
                }
                if (type === 'opt-out' && !didConsent) {
                    // disable cookies
                }
            },

            onRevokeChoice: function() {
                var type = this.options.type;
                if (type === 'opt-in') {
                    // disable cookies
                }
                if (type === 'opt-out') {
                    // enable cookies
                }
            },
            law: {
                regionalLaw: false
            },
            location: true
        });
    });
</script>
{% block javascripts %}{% endblock %}

<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
<![endif]-->
</body>
</html>
