{% extends 'default/layout.html.twig' %}

{% block title %}{{ 'Privacy Policy'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <!-- Breadcrumbs -->
    <section class="g-bg-gray-light-v5 g-py-50">
        <div class="container">
            <div class="d-sm-flex text-center">
                <div class="align-self-center">
                    <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">{{ 'Privacy Policy'|trans }}</h2>
                </div>

                <div class="align-self-center ml-auto">
                    <ul class="u-list-inline">
                        <li class="list-inline-item g-mr-5">
                            <a class="u-link-v5 g-color-main g-color-primary--hover" href="{{ path('app_default_index') }}">{{ 'Home'|trans }}</a>
                            <i class="g-color-gray-light-v2 g-ml-5">/</i>
                        </li>
                        <li class="list-inline-item g-color-primary">
                            <span>{{ 'Privacy Policy'|trans }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section class="container g-pt-100 g-pb-40">
        <h3>The information we collect about you</h3>
        <p>We collect and store only the information that you specifically enter into the website, apart from your IP address which is automatically logged.</p>

        <h3>How we use your information</h3>
        <p>We only use your personal information to enable you to use the services that we offer. We do not use your email address for spam purposes, and we will only contact you when an important notification from us is required.</p>

        <h3>Cookies</h3>
        <p>We only stores cookie data that is essentially required for site operation, such as login data, and also the webstore basket contents.</p>

        <h3>Protecting your data</h3>
        <p>All personal information stored on our servers is encrypted, and the data has restricted access only to our highly trained system administrators.</p>

        <h3>Disclosing your data</h3>
        <p>
            Your personal information is never disclosed to the outer public, and is only viewable by our support team when you have opened a support ticket using our support panel. We never disclose or sell your personal information to third
            party companies, however the management of us may request to view your account data under circumstances that we feel appropriate.
        </p>
        <!-------------------------------------------------------------->
        <h1>Refund policy</h1>
        <p>
            All payments have a 7 day refund policy from the original date of purchase. Opening a chargeback or other dispute gives us full permission to disable and delete your account without prior notification. If our website does not correctly
            function for you, due to an error on our behalf, then you will be liable for a 100% refund within 7 days of the original purchase date after a clear and valid description of the error you are having.
        </p>
        <br />
        <b>The information on this page was last updated on the 25th July 2014.</b>
        <!-------------------------------------------------------------->
        <h1>Company details</h1>
        <p>OrbitronDev</p>
        <!--
            Company details
            Tebex Limited
            49 High Street,
            Hucknall,
            Nottingham
            NG15 7AW

            Company No: 08129184
            VAT No: 167189962
            -->
    </section>
{% endblock %}
