{% extends 'default/layout.html.twig' %}

{% block title %}{{ 'Our projects'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <!-- Promo Block -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall " data-options='{direction: "fromtop", animation_duration: 25, direction: "reverse"}'>
        <!-- Parallax Image -->
        <div class="dzsparallaxer--target w-100 u-bg-overlay g-bg-img-hero g-bg-white-opacity-0_8--after" style="height: 200%; background-image: url({{ asset('img/1920x800/img12.jpg') }});"></div>
        <!-- End Parallax Image -->

        <!-- Promo Block Content -->
        <div class="container u-bg-overlay__inner text-center g-py-130">
            <h3 class="h3 g-color-black g-font-weight-300 mb-2">{{ 'All our'|trans }}</h3>
            <p class="g-color-black g-font-weight-600 g-font-size-35 text-uppercase">{{ 'projects & services'|trans }}</p>
        </div>
        <!-- Promo Block Content -->
    </section>
    <!-- End Promo Block -->

    <!-- Icon Blocks -->
    <section class="g-bg-secondary">
        <div class="container g-py-100">
            <!-- Icon Blocks -->
            <div class="row">
                <div class="col-lg-6 g-mb-30">
                    <!-- Icon Blocks -->
                    <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
                        <div class="media g-mb-15">
                            <div class="d-flex mr-4">
                                <span class="g-color-gray-dark-v4 g-font-size-26">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">{{ 'Account (beta)'|trans }}</h3>
                                <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                                <p class="g-color-gray-dark-v4 g-mb-0">
                                    {{ 'Create an account to access all our services.'|trans }}
                                    <a href="https://account.orbitrondev.org" class="btn-u btn-u-lg btn-u-default" target="_blank"><i class="fa fa-external-link"></i> {{ 'Go'|trans }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
                <div class="col-lg-6 g-mb-30">
                    <!-- Icon Blocks -->
                    <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
                        <div class="media g-mb-15">
                            <div class="d-flex mr-4">
                                <span class="g-color-gray-dark-v4 g-font-size-26">
                                    <i class="fa fa-rss-square"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">{{ 'Blog (beta)'|trans }}</h3>
                                <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                                <p class="g-color-gray-dark-v4 g-mb-0">
                                    {{ 'Create a blog for yourself or your company.'|trans }}
                                    <a href="https://service-blog.herokuapp.com" class="btn-u btn-u-lg btn-u-default" target="_blank"><i class="fa fa-external-link"></i> {{ 'Go'|trans }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
            </div>
            <!-- End Icon Blocks -->

            <!-- Icon Blocks -->
            <div class="row">
                <div class="col-lg-6 g-mb-30">
                    <!-- Icon Blocks -->
                    <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
                        <div class="media g-mb-15">
                            <div class="d-flex mr-4">
                                <span class="g-color-gray-dark-v4 g-font-size-26">
                                    <i class="fa fa-cloud"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">{{ 'Cloud (beta)'|trans }}</h3>
                                <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                                <p class="g-color-gray-dark-v4 g-mb-0">
                                    {{ 'Your unlimited large cloud storage.'|trans }}
                                    <a href="https://service-cloud.herokuapp.com" class="btn-u btn-u-lg btn-u-default" target="_blank"><i class="fa fa-external-link"></i> {{ 'Go'|trans }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
                <div class="col-lg-6 g-mb-30">
                    <!-- Icon Blocks -->
                    <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
                        <div class="media g-mb-15">
                            <div class="d-flex mr-4">
                                <span class="g-color-gray-dark-v4 g-font-size-26">
                                    <i class="fa fa-users"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">{{ 'Forum (beta)'|trans }}</h3>
                                <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                                <p class="g-color-gray-dark-v4 g-mb-0">
                                    {{ 'Give your community the ability to help each other. It\'s simply a Forum.'|trans }}
                                    <a href="https://forum.orbitrondev.org" class="btn-u btn-u-lg btn-u-default" target="_blank"><i class="fa fa-external-link"></i> {{ 'Go'|trans }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
            </div>
            <!-- End Icon Blocks -->

            <!-- Icon Blocks -->
            <div class="row">
                <div class="col-lg-6 g-mb-30">
                    <!-- Icon Blocks -->
                    <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
                        <div class="media g-mb-15">
                            <div class="d-flex mr-4">
                                <span class="g-color-gray-dark-v4 g-font-size-26">
                                    <i class="fa fa-shopping-cart"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">{{ 'Store (beta)'|trans }}</h3>
                                <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                                <p class="g-color-gray-dark-v4 g-mb-0">
                                    {{ 'Create a small or even the biggest online store ever.'|trans }}
                                    <a href="https://service-store0.herokuapp.com" class="btn-u btn-u-lg btn-u-default" target="_blank"><i class="fa fa-external-link"></i> {{ 'Go'|trans }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
                <div class="col-lg-6 g-mb-30">
                    <!-- Icon Blocks -->
                    <div class="u-shadow-v19 g-bg-white rounded g-pa-30">
                        <div class="media g-mb-15">
                            <div class="d-flex mr-4">
                                <span class="g-color-gray-dark-v4 g-font-size-26">
                                    <i class="fa fa-info"></i>
                                </span>
                            </div>
                            <div class="media-body">
                                <h3 class="h5 g-color-black mb-20">{{ 'Wiki (beta)'|trans }}</h3>
                                <div class="g-width-30 g-brd-bottom g-brd-gray-dark-v5 g-my-15"></div>
                                <p class="g-color-gray-dark-v4 g-mb-0">
                                    {{ 'When someone needs help, they can find it on the wiki. Yes, here.'|trans }}
                                    <a href="https://wiki.orbitrondev.org" class="btn-u btn-u-lg btn-u-default" target="_blank"><i class="fa fa-external-link"></i> {{ 'Go'|trans }}</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End Icon Blocks -->
                </div>
            </div>
            <!-- End Icon Blocks -->
        </div>
    </section>
    <!-- End Icon Blocks -->
{% endblock %}
