{% extends 'default/layout.html.twig' %}

{% block title %}{{ 'Search for'|trans }} "{{ search }}" | {{ parent() }}{% endblock %}

{% block content %}
    <!-- Page Title -->
    <section class="dzsparallaxer auto-init height-is-based-on-content use-loading" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
        <!-- Parallax Image -->
        <div class="divimage dzsparallaxer--target w-100 g-bg-cover g-bg-white-gradient-opacity-v3--after" style="height: 140%; background-image: url({{ asset('img/1920x800/img10.jpg') }});"></div>
        <!-- End Parallax Image -->

        <div class="container text-center g-py-100--md g-py-80">
            <h2 class="h1 text-uppercase g-font-weight-300 g-mb-30">{{ 'Search Results'|trans }}</h2>

            <!-- Search Form -->
            <form action="{{ path('app_default_search') }}" method="get" class="g-width-60x--md mx-auto">
                <div class="form-group g-mb-20">
                    <div class="input-group u-shadow-v21 rounded g-mb-15">
                        <input class="form-control form-control-md g-brd-white g-font-size-16 border-right-0 pr-0 g-py-15" type="text" name="q" required="required" placeholder="{{ 'Where can I download some freebies?'|trans }}">
                        <div class="input-group-addon d-flex align-items-center g-bg-white g-brd-white g-color-gray-light-v1 g-pa-2">
                            <button class="btn u-btn-primary g-font-size-16 g-py-15 g-px-20" type="submit">
                                <i class="icon-magnifier g-pos-rel g-top-1"></i>
                            </button>
                        </div>
                    </div>
                    <small class="form-text g-opacity-0_8 g-font-size-default">{{ 'Search any words, questions and so on here.'|trans }}</small>
                </div>
            </form>
            <!-- End Search Form -->
        </div>
    </section>
    <!-- Page Title -->

    <section class="container g-pt-50 g-pb-90">
        <script>
            (function() {
                var cx = '015599512232270868774:yok4otkk5fg';
                var gcse = document.createElement('script');
                gcse.type = 'text/javascript';
                gcse.async = true;
                gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(gcse, s);
            })();
        </script>
        <gcse:searchresults-only></gcse:searchresults-only>
    </section>
{% endblock %}
