{% extends 'account/layout_clean.html.twig' %}

{% block title %}{{ 'Login'|trans }} | {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            background: url({{ asset('img/background/bg-cyan.jpg') }}) fixed 50% 50%;
            background-size: cover;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Login -->
    <section class="container g-py-30">
        <div class="row justify-content-center">
            <div class="col-sm-8 col-lg-5">
                <div class="g-brd-around g-brd-gray-light-v4 rounded g-py-40 g-px-30 g-bg-white">
                    <header class="text-center mb-4">
                        <h2 class="h2 g-color-black g-font-weight-600">{{ 'Login'|trans }}</h2>
                    </header>

                    <!-- Form -->
                    {{ form_start(login_form, {'attr': {'class': 'g-py-15'}}) }}
                        {{ form_errors(login_form) }}
                        <div class="form-group {% if login_form.email.vars.errors|length %}u-has-error-v1{% endif %} mb-4">
                            {{ form_label(login_form.email, null, {'label_attr': {'class': 'g-color-gray-dark-v2 g-font-weight-600 g-font-size-13'}}) }}
                            {{ form_widget(login_form.email, {'attr': {'class': 'form-control g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15'}}) }}
                            <small class="form-control-feedback">{{ form_errors(login_form.email) }}</small>
                        </div>

                        <div class="form-group {% if login_form.email.vars.errors|length %}u-has-error-v1{% endif %} mb-3">
                            <div class="row justify-content-between">
                                <div class="col align-self-center">
                                    {{ form_label(login_form.password, null, {'label_attr': {'class': 'g-color-gray-dark-v2 g-font-weight-600 g-font-size-13'}}) }}
                                </div>
                            </div>
                            {{ form_widget(login_form.password, {'attr': {'class': 'form-control g-brd-gray-light-v4 g-brd-primary--hover rounded g-py-15 g-px-15'}}) }}
                            <small class="form-control-feedback">{{ form_errors(login_form.password) }}</small>
                        </div>
                        <div class="g-mb-35">
                            <div class="row justify-content-between">
                                <div class="col-8 align-self-center">
                                    <label class="form-check-inline u-check g-color-gray-dark-v5 g-font-size-13 g-pl-25 mb-0">
                                        {{ form_widget(login_form.remember, {'attr': {'class': 'g-hidden-xs-up g-pos-abs g-top-0 g-left-0'}}) }}
                                        <span class="u-check-icon-checkbox-v6 g-absolute-centered--y g-left-0">
                                            <i class="fa" data-check-icon="&#xf00c"></i>
                                        </span>
                                        {{ login_form.remember.vars.label }}
                                    </label>
                                </div>
                                <div class="col-4 align-self-center text-right">
                                    {{ form_widget(login_form.send, {'attr': {'class': 'btn btn-md u-btn-primary rounded g-py-13 g-px-25'}}) }}
                                </div>
                            </div>
                        </div>
                    {{ form_end(login_form) }}
                    <!-- End Form -->

                    <footer class="text-center">
                        <p class="g-color-gray-dark-v5 g-font-size-13 mb-0">
                            {{ 'Don\'t have an account?'|trans }}
                            <a class="g-font-weight-600" href="{{ path('app_admin_register') }}">{{ 'register'|trans }}</a>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </section>
    <!-- End Login -->
{% endblock %}
