<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>OrbitronDev Cloud</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />

        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

        <!-- JS Global Compulsory -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


        <!-- Section CSS -->
        <!-- jQuery UI (REQUIRED) -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.min.css">

        <!-- elFinder CSS (REQUIRED) -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/elfinder/2.1.28/css/elfinder.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/elfinder/2.1.28/css/theme.min.css">

        <!-- Section JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

        <!-- elFinder JS (REQUIRED) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/elfinder/2.1.28/js/elfinder.min.js"></script>

        <!-- Extra contents editors (OPTIONAL) -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/elfinder/2.1.28/js/extras/editors.default.min.js"></script>

        <!-- GoogleDocs Quicklook plugin for GoogleDrive Volume (OPTIONAL) -->
        <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/elfinder/2.1.28/js/extras/quicklook.googledocs.min.js"></script>-->

        <!-- elFinder initialization (REQUIRED) -->
        <script type="text/javascript" charset="utf-8">
            // Documentation for client options:
            // https://github.com/Studio-42/elFinder/wiki/Client-configuration-options
            $(document).ready(function() {
                $('#elfinder').elfinder(
                    // 1st Arg - options
                    {
                        cssAutoLoad : false,               // Disable CSS auto loading
                        baseUrl : 'https://cdnjs.cloudflare.com/ajax/libs/elfinder/2.1.28', // Base URL to css/*, js/*
                        url : 'app/cloud/connector.minimal.php?user_id={{ current_user.user_id }}'  // connector URL (REQUIRED)
                        // , lang: 'ru'                    // language (OPTIONAL)
                    },
                    // 2nd Arg - before boot up function
                    function(fm, extraObj) {
                        // `init` event callback function
                        fm.bind('init', function() {
                            // Optional for Japanese decoder "extras/encoding-japanese.min"
                            delete fm.options.rawStringDecoder;
                            if (fm.lang === 'jp') {
                                fm.loadScript(
                                    [ fm.baseUrl + 'js/extras/encoding-japanese.min.js' ],
                                    function() {
                                        if (window.Encoding && Encoding.convert) {
                                            fm.options.rawStringDecoder = function(s) {
                                                return Encoding.convert(s,{to:'UNICODE',type:'string'});
                                            };
                                        }
                                    },
                                    { loadType: 'tag' }
                                );
                            }
                        });
                        // Optional for set document.title dynamically.
                        var title = document.title;
                        fm.bind('open', function() {
                            var path = '',
                                cwd  = fm.cwd();
                            if (cwd) {
                                path = fm.path(cwd.hash) || null;
                            }
                            document.title = path? path + ':' + title : title;
                        }).bind('destroy', function() {
                            document.title = title;
                        });
                    }
                );
            });
        </script>
    </head>
    <body>
        <!--=== Navigation ===-->
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">{{ 'Toggle navigation'|trans }}</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ service.page_logo_link }}">{{ service.page_name }}</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="{{ path('app_cloud_files') }}">{{ 'Files'|trans }}</a></li>
                        <li><a href="{{ path('app_cloud_share') }}">{{ 'Share'|trans }}</a></li>
                        {% if current_user.user_id == current_forum.owner_id %}
                            <li><a href="{{ path('app_forum_forum_admin', {'forum': current_forum.url, 'page': 'home'}) }}" class="admin-link">{{ 'Admin Panel'|trans }}</a></li>
                        {% endif %}
                        {% if current_user.user_id > -1 %}
                            <li class="dropdown">
                                <a href="{{ path('app_account_user', {'username': current_user.username}) }}" class="dropdown-toggle" data-toggle="dropdown" style="padding-top: 7px; padding-bottom: 7px;">
                                    <img class="img-circle" src="{{ path('app_account_api', {'function': 'get_img', 'user_id': current_user.user_id, 'height': 36, 'width': 36}) }}" />
                                    {{ current_user.username }}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('app_account_user', {'username': current_user.username}) }}">{{ 'Profile'|trans }}</a></li>
                                    <li><a href="{{ path('app_account_panel', {'page': 'home'}) }}">{{ 'Settings'|trans }}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{{ path('app_account_logout') }}">{{ 'Logout'|trans }}</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><a href="{{ path('app_account_login', {'redir': app.request.uri}) }}">{{ 'header.account.login'|trans }}</a></li>
                            <li><a href="{{ path('app_account_register') }}">{{ 'header.account.register'|trans }}</a></li>
                        {% endif %}
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <!--=== End Navigation ===-->

        <div class="container">
            <!-- Element where elFinder will be created (REQUIRED) -->
            <div id="elfinder"></div>
        </div>
    </body>
</html>
