{% extends 'blog/layout_main.html.twig' %}

{% block title %}{{ 'Discover all blogs'|trans }} | {{ parent() }}{% endblock %}

{% block content %}
    <!-- Breadcrumbs -->
    <section class="g-bg-gray-light-v5 g-py-20">
        <div class="container">
            <div class="d-sm-flex text-center">
                <div class="align-self-center">
                    <h2 class="h3 g-font-weight-300 w-100 g-mb-10 g-mb-0--md">{{ 'Discover all blogs'|trans }}</h2>
                </div>

                <div class="align-self-center ml-auto">
                    <ul class="u-list-inline">
                        <li class="list-inline-item g-color-primary">
                            <span>{{ 'Blogs'|trans }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <div class="container g-pt-30 g-pb-40">
        {% if current_user is not empty %}
            <div class="card g-mb-40">
                <div class="card-header">
                    {{ 'Administrate your blogs'|trans }}
                    <div class="pull-right">
                        <a href="{{ path('app_blog_new') }}" class="btn btn-success btn-xs" role="button">{{ 'Create new blog'|trans }}</a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-hover">
                            <tbody>
                            {% for blog in blog_list %}
                                {% if current_user.id == blog.owner.id %}
                                    <tr>
                                        <td><a href="{{ path('app_blog_blog_index', {'blog': blog.url}) }}">{{ blog.name }}</a></td>
                                        <td><a href="{{ path('app_blog_blog_admin', {'blog': blog.url, 'page': 'home'}) }}">{{ 'Admin panel'|trans }}</a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
        <section id="blog-list">
            <h2 class="page-header">{{ 'Blog list'|trans }}</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{ 'Name'|trans }}</th>
                            <th>{{ 'Owner'|trans }}</th>
                            <th>{{ 'Tools'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for blog in blog_list %}
                            <tr>
                                <td><a href="{{ path('app_blog_blog_index', {'blog': blog.url}) }}">{{ blog.name }}</a></td>
                                <td>{{ blog.owner.username }}</td>
                                <td>{% if current_user.id == blog.owner.id %}<a href="{{ path('app_blog_blog_admin', {'blog': blog.url, 'page': 'home'}) }}">{{ 'Admin panel'|trans }}</a>{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table><!-- /.table -->
            </div><!-- /.table-responsive -->
        </section><!-- /#blog-list -->
    </div>
{% endblock %}
