{% extends 'base.html.twig' %}

{#{% trans_default_domain "base" %}#}

{% block content %}
    <div class="wrapper">
        {% block navigation %}
            <!--=== Header ===-->
            <div class="header">
                <div class="container">
                    <!-- Logo -->
                    <a class="logo" href="{{ path('app_default_index') }}">
                        <img src="{{ asset('img/logo-long.png') }}" alt="Logo" height="30px" />
                    </a>
                    <!--  End Logo -->

                    <!-- Topbar -->
                    <div class="topbar">
                        <ul class="loginbar pull-right">
                            <li class="hoverSelector">
                                <i class="fa fa-globe"></i>
                                <a href="javascript:void(0);">{{ 'header.language.base'|trans }} ({{ app.request.getLocale()|upper }})</a>
                                <ul class="languages hoverSelectorBlock">
                                    {% if app.request.getLocale() == "en" %}
                                         <li class="active">
                                             <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
                                                 <img src="{{ asset('img/icons/flags/United-States-of-America.png') }}" style="height:1em" />
                                                 English <i class="fa fa-check"></i>
                                             </a>
                                         </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'en'})) }}">
                                                <img src="{{ asset('img/icons/flags/United-States-of-America.png') }}" style="height:1em" />
                                                English
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if app.request.getLocale() == "fr" %}
                                        <li class="active">
                                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">
                                                <img src="{{ asset('img/icons/flags/France.png') }}" style="height:1em" />
                                                French <i class="fa fa-check"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'fr'})) }}">
                                                <img src="{{ asset('img/icons/flags/France.png') }}" style="height:1em" />
                                                French
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if app.request.getLocale() == "de" %}
                                        <li class="active">
                                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'de'})) }}">
                                                <img src="{{ asset('img/icons/flags/Germany.png') }}" style="height:1em" />
                                                German <i class="fa fa-check"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'de'})) }}">
                                                <img src="{{ asset('img/icons/flags/Germany.png') }}" style="height:1em" />
                                                German
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if app.request.getLocale() == "it" %}
                                        <li class="active">
                                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'it'})) }}">
                                                <img src="{{ asset('img/icons/flags/Italy.png') }}" style="height:1em" />
                                                Italian <i class="fa fa-check"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'it'})) }}">
                                                <img src="{{ asset('img/icons/flags/Italy.png') }}" style="height:1em" />
                                                Italian
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if app.request.getLocale() == "es" %}
                                        <li class="active">
                                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}">
                                                <img src="{{ asset('img/icons/flags/Spain.png') }}" style="height:1em" />
                                                Spanish <i class="fa fa-check"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li>
                                            <a href="{{ path(app.request.get('_route'), app.request.get('_route_params')|merge({'_locale': 'es'})) }}">
                                                <img src="{{ asset('img/icons/flags/Spain.png') }}" style="height:1em" />
                                                Spanish
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                            <li class="topbar-devider"></li>
                            <li><a href="{{ path('app_default_faq') }}">{{ 'header.help'|trans }}</a></li>
							<li class="topbar-devider"></li>
                            {% if current_user is empty %}
                                <li><a href="{{ path('app_account_index') }}">{{ 'header.account.account'|trans }}</a></li>
                            {% else %}
                                {% if current_user.id > -1 %}
                                    <li><a href="{{ path('app_account_index') }}">{{ 'header.account.account'|trans }}</a></li>
                                    <li class="topbar-devider"></li>
                                    <li><a href="{{ path('app_account_logout', {'redir': app.request.uri}) }}">{{ 'Logout'|trans }}</a></li>
                                {% else %}
                                    <li><a href="{{ path('app_account_login', {'redir': app.request.uri}) }}">{{ 'header.account.login'|trans }}</a></li>
                                    <li class="topbar-devider"></li>
                                    <li><a href="{{ path('app_account_register') }}">{{ 'header.account.register'|trans }}</a></li>
                                {% endif %}
                            {% endif %}
                            {#
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                <li>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</li>
                                <li class="topbar-devider"></li>#}{#
                                <li><a href="{{ path('fos_user_profile_show') }}">{{ 'header.account.profile'|trans }}</a></li>
                                <li class="topbar-devider"></li>
                                <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
                            {% else %}
                                <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
                                <li class="topbar-devider"></li>
                                <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
                            {% endif %}
                            #}
                        </ul>
                    </div>
                    <!--  End Topbar -->

                    <!-- Toggle get grouped for better mobile display -->
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">{{ 'header.toggle_nav'|trans }}</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <!--  End Toggle -->
                </div><!--/end container-->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <!-- Home -->
                            <li>
                                <a href="{{ path('app_default_index') }}">{{ 'header.home'|trans }}</a>
                            </li>
                            <!-- End Home -->

                           {# TODO: Products should be added later again, as soon as it is possible to be selled
                           <!-- Products -->
                            <li class="dropdown mega-menu-fullwidth">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                                    {{ 'header.products.title'|trans }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="mega-menu-content disable-icons">
                                            <div class="container">
                                                <div class="row equal-height">
                                                    <div class="col-md-3 equal-height-in">
                                                        <ul class="list-unstyled equal-height-list">
                                                            <li><h3>{{ 'header.products.category.pc.title'|trans }}</h3></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'pc'}) }}"><i class="fa fa-desktop"></i> {{ 'header.products.category.pc.content1'|trans }}</a></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'server'}) }}"><i class="fa fa-server"></i> {{ 'header.products.category.pc.content2'|trans }}</a></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'notebook'}) }}"><i class="fa fa-laptop"></i> {{ 'header.products.category.pc.content3'|trans }}</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 equal-height-in">
                                                        <ul class="list-unstyled equal-height-list">
                                                            <li><h3>{{ 'header.products.category.peripherals.title'|trans }}</h3></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'headset'}) }}"><i class="fa fa-headphones"></i> {{ 'header.products.category.peripherals.content1'|trans }}</a></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'keyboard'}) }}"><i class="fa fa-keyboard-o"></i> {{ 'header.products.category.peripherals.content2'|trans }}</a></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'mouse'}) }}"><i class="fa fa-mouse-pointer"></i> {{ 'header.products.category.peripherals.content3'|trans }}</a></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'mouse-pad'}) }}"><i class="fa fa-mouse-pointer"></i> {{ 'header.products.category.peripherals.content4'|trans }}</a></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'webcam'}) }}"><i class="fa fa-video-camera"></i> {{ 'header.products.category.peripherals.content5'|trans }}</a></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'speaker'}) }}"><i class="fa fa-volume-up"></i> {{ 'header.products.category.peripherals.content6'|trans }}</a></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'monitor'}) }}"><i class="fa fa-desktop"></i> {{ 'header.products.category.peripherals.content7'|trans }}</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 equal-height-in">
                                                        <ul class="list-unstyled equal-height-list">
                                                            <li><h3>{{ 'header.products.category.mobile.title'|trans }}</h3></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'smartphone'}) }}"><i class="fa fa-mobile"></i> {{ 'header.products.category.mobile.content1'|trans }}</a></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'tablet'}) }}"><i class="fa fa-tablet"></i> {{ 'header.products.category.mobile.content2'|trans }}</a></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'smartwatch'}) }}"><i class="fa fa-clock-o"></i> {{ 'header.products.category.mobile.content3'|trans }}</a></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'headphone'}) }}"><i class="fa fa-headphones"></i> {{ 'header.products.category.mobile.content4'|trans }}</a></li>

                                                            <li><h3>{{ 'header.products.category.printer.title'|trans }}</h3></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'printer'}) }}"><i class="fa fa-print"></i> {{ 'header.products.category.printer.content1'|trans }}</a></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'laser-printer'}) }}"><i class="fa fa-print"></i> {{ 'header.products.category.printer.content2'|trans }}</a></li>
                                                            <li><a href="{{ path('app_product_product', {'type': '3d-printer'}) }}"><i class="fa fa-print"></i> {{ 'header.products.category.printer.content3'|trans }}</a></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'scanner'}) }}"><i class="fa fa-barcode"></i> {{ 'header.products.category.printer.content4'|trans }}</a></li>

                                                        </ul>
                                                    </div>
                                                    <div class="col-md-3 equal-height-in">
                                                        <ul class="list-unstyled equal-height-list">
                                                            <li><h3>{{ 'header.products.category.tv.title'|trans }}</h3></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'tv'}) }}"><i class="fa fa-television"></i> {{ 'header.products.category.tv.content1'|trans }}</a></li>
                                                            <li><a href="{{ path('app_product_product', {'type': '3d-glass'}) }}"><i class="fa fa-television"></i> {{ 'header.products.category.tv.content2'|trans }}</a></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'player'}) }}"><i class="fa fa-play"></i> {{ 'header.products.category.tv.content3'|trans }}</a></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'projector'}) }}"><i class="fa fa-television"></i> {{ 'header.products.category.tv.content4'|trans }}</a></li>

                                                            <li><h3>{{ 'header.products.category.storage.title'|trans }}</h3></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'usb'}) }}"><i class="fa fa-usb"></i> {{ 'header.products.category.storage.content1'|trans }}</a></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'memory-card'}) }}"><i class="fa fa-hdd-o"></i> {{ 'header.products.category.storage.content2'|trans }}</a></li>
                                                            <li><a href="{{ path('app_product_product', {'type': 'external-drive'}) }}"><i class="fa fa-hdd-o"></i> {{ 'header.products.category.storage.content3'|trans }}</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <!-- End Products -->#}

                            <!-- Explore -->
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" style="padding-top: 5px; padding-bottom: 5px;">
                                    <i class="fa fa-th" style="font-size: 1.9em; vertical-align: middle;"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('app_blog_index') }}"><i class="fa fa-rss"></i>{{ 'header.services.blog'|trans }}</a></li>
                                    <li><a href="{{ path('app_cloud_index') }}"><i class="fa fa-cloud"></i>{{ 'header.services.cloud'|trans }}</a></li>
                                    <li><a href="{{ path('app_forum_index') }}"><i class="fa fa-users"></i>{{ 'header.services.forum'|trans }}</a></li>
                                    <li><a href="#"><i class="fa fa-code"></i>{{ 'header.services.site'|trans }}</a></li>
                                    <li><a href="{{ path('app_store_index') }}"><i class="fa fa-shopping-cart"></i>{{ 'header.services.store'|trans }}</a></li>
                                    <li><a href="{{ path('app_wiki_index') }}"><i class="fa fa-info"></i>{{ 'header.services.wiki'|trans }}</a></li>
                                    <li><a href="{{ path('app_project_index') }}">{{ 'header.services.footer'|trans }}</a></li>
                                </ul>
                            </li>
                            <!-- End Explore -->

                            <!-- Search Block -->
                            <li>
                                <i class="search fa fa-search search-btn"></i>
                                <div class="search-open">
                                    <form action="{{ path('app_default_search') }}" method="get">
                                        <div class="input-group animated fadeInDown">
                                            <input type="search" name="q" required="required" placeholder="{{ 'header.search'|trans }}" class="form-control" />
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn-u">{{ 'header.go'|trans }}</button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <!-- End Search Block -->
                        </ul>
                    </div><!--/end container-->
                </div><!-- /navbar-collapse -->
            </div>
            <!--=== End Header ===-->
        {% endblock %}

        <noscript>
            <div class="alert alert-danger" style="margin:0;border:0;">
                <div class="container">
                    {{ 'Missing JavaScript support'|trans }}
                    <br />
                    {{ 'Javascript is disabled on your browser. Please enable JavaScript or upgrade to a Javascript-capable browser.'|trans }}
                </div>
            </div>
        </noscript>

        {% block breadcrumb %}{% endblock %}

        {% block header %}{% endblock %}

        {% block body %}{% endblock %}

        {% block footer %}
            <!--=== Footer Version 1 ===-->
            <div class="footer-v1">
                <div class="footer">
                    <div class="container">
                        <div class="row">
                            <!-- About -->
                            <div class="col-md-3 md-margin-bottom-40">
                                <a href="{{ path('app_default_index') }}"><img id="logo-footer" class="footer-logo" src="{{ asset('img/logo-long.png') }}" alt="" height="30px"></a>
                                <p>{{ 'footer.description.part1'|trans }}</p>
                                <p>{{ 'footer.description.part2'|trans }}</p>
                            </div>
                            <!-- End About -->

                            <div class="col-md-3"></div>
                            {#<!-- Latest -->
                            <div class="col-md-3 md-margin-bottom-40">
                                <div class="posts">
                                    <div class="headline"><h2>{{ 'Latest Posts'|trans }}</h2></div><!-- DEVELOPER: Update Posts -->
                                    <ul class="list-unstyled latest-list">
                                        <li>
                                            <a href="#">Incredible content</a>
                                            <small>May 8, 2014</small>
                                        </li>
                                        <li>
                                            <a href="#">Best shoots</a>
                                            <small>June 23, 2014</small>
                                        </li>
                                        <li>
                                            <a href="#">New Terms and Conditions</a>
                                            <small>September 15, 2014</small>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End Latest -->#}

                            <!-- Link List -->
                            <div class="col-md-3 md-margin-bottom-40">
                                <div class="headline"><h2>{{ 'footer.company.title'|trans }}</h2></div>
                                <ul class="list-unstyled link-list">
                                    <li><a href="{{ path('app_default_about') }}">{{ 'footer.company.link1'|trans }}</a><i class="fa fa-angle-right"></i></li>
                                    <li><a href="{{ path('app_default_contact') }}">{{ 'footer.company.link3'|trans }}</a><i class="fa fa-angle-right"></i></li>
                                    <li><a href="{{ path('app_project_index') }}">{{ 'footer.company.link4'|trans }}</a><i class="fa fa-angle-right"></i></li>
                                </ul>
                            </div>
                            <!-- End Link List -->

                            <!-- Address -->
                            <div class="col-md-3 map-img md-margin-bottom-40">
                                <div class="headline"><h2>{{ 'footer.contact.title'|trans }}</h2></div>
                                <address class="md-margin-bottom-40">
                                    {{ 'footer.contact.text'|trans }}
                                    {{ 'footer.contact.email'|trans }} <a href="mailto:info@orbitrondev.org" class="">info@orbitrondev.org</a>
                                </address>
                            </div>
                            <!-- End Address -->
                        </div>
                    </div>
                </div><!--/footer-->

                <div class="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    2013-2017 {{ 'footer.legal.reserved'|trans }}
                                    <a href="{{ path('app_default_privacy') }}">
                                        {{ 'footer.legal.privacy'|trans }}
                                    </a> |
                                    <a href="{{ path('app_default_terms') }}">
                                        {{ 'footer.legal.tos'|trans }}
                                    </a>
                                </p>
                            </div>

                            <!-- Social Links -->
                            <div class="col-md-6">
                                <ul class="footer-socials list-inline">
                                    <li>
                                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">{# TODO: Update URL #}
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">{# TODO: Update URL #}
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">{# TODO: Update URL #}
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Social Links -->
                        </div>
                    </div>
                </div><!--/copyright-->
            </div>
            <!--=== End Footer Version 1 ===-->
        {% endblock %}
    </div><!--/wrapper-->
{% endblock %}
