{% extends 'base.html.twig' %}

{% block title %}Confirm Email | {{ parent() }}{% endblock %}

{% block stylesheets_implemeting_plugins %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/plugins/owl-carousel/owl-carousel/owl.carousel.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css') }}" />
    <!--[if lt IE 9]>
    <link rel="stylesheet"
          href="{{ asset('assets/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css') }}" /><![endif]-->
{% endblock %}

{% block javascripts_implementing_plugins %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ asset('assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js') }}"></script>
{% endblock %}

{% block stylesheets_code %}
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            background: url(/assets/img/background/bg-cyan.jpg) fixed 50% 50%;
            background-size: cover;
        }

        .sky-form {
            border: none;
            margin: 0 auto;
            padding: 40px;
            box-sizing: content-box;
            max-width: 400px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="col-md-2 col-md-offset-5">
        <form method="post" id="confirm-email-form" class="sky-form" novalidate="novalidate">
            <header>Confirm email</header>
            {% if error_message is defined %}
                <fieldset>
                    {{ error_message }}
                </fieldset>
            {% endif %}
            {% if success_message is defined %}
                <fieldset>
                    {{ success_message }}
                </fieldset>
            {% endif %}
            {% if send_email_form is defined %}
                <footer>
                    {{ form_widget(send_email_form.send, {'attr': {'class': 'button'}}) }}
                </footer>
            {% endif %}
        </form>
    </div>
{% endblock %}