{% extends 'base.html.twig' %}

{% block title %}{{ 'Create new blog'|trans }} | {{ parent() }}{% endblock %}

{% block stylesheets_implemeting_plugins %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/plugins/sky-forms-pro/skyforms/css/sky-forms.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/plugins/sky-forms-pro/skyforms/custom/custom-sky-forms.css') }}" />
    <!--[if lt IE 9]>
    <link rel="stylesheet"
          href="{{ asset('assets/plugins/sky-forms-pro/skyforms/css/sky-forms-ie8.css') }}" /><![endif]-->
{% endblock %}

{% block javascripts_implementing_plugins %}
    {{ parent() }}
    <script type="text/javascript"
            src="{{ asset('assets/plugins/sky-forms-pro/skyforms/js/jquery.form.min.js') }}"></script>
    <script type="text/javascript"
            src="{{ asset('assets/plugins/sky-forms-pro/skyforms/js/jquery.validate.min.js') }}"></script>
{% endblock %}

{% block stylesheets_code %}
    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            background: url('/assets/img/background/bg-cyan.jpg') fixed 50% 50%;
            background-size: cover;
        }

        {# Alternative
        body, html {
                height: 100%;
                background: linear-gradient(rgb(84, 82, 26), rgb(0, 0, 0)) no-repeat fixed;
        }
        #}

        .sky-form {
            margin: 0 auto;
            padding: 40px;
            box-sizing: content-box;
            max-width: 400px;
        }
        .sky-changes-3.sky-form {
            border: none;
        }
    </style>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $(document).ready(function () {

            $(function () {
                // Validation for login form
                $("#login-form").validate({
                    // Rules for form validation
                    rules: {
                        'form[email]': {
                            required: true,
                            email: true
                        },
                        'form[password]': {
                            required: true,
                            minlength: 8
                        }
                    },

                    // Messages for form validation
                    messages: {
                        'form[email]': {
                            required: 'Please enter your email address',
                            email: 'Please enter a VALID email address'
                        },
                        'form[password]': {
                            required: 'Please enter your password'
                        }
                    },

                    // Do not change code below
                    errorPlacement: function (error, element) {
                        error.insertAfter(element.parent());
                    }
                });
            });

        });
    </script>
{% endblock %}

{% block content %}
    {{ form_start(create_blog_form, {'attr': {'class': 'sky-form sky-changes-3', 'id': 'login-form'}}) }}
        {{ form_row(create_blog_form._token) }}

        <header>{{ 'Create a new blog'|trans }}</header>
        <fieldset>
            {{ form_errors(create_blog_form) }}
            <section>
                <div class="row">
                    {{ form_label(create_blog_form.name, null, {'label_attr': {'class': 'label col col-4'}}) }}
                    <div class="col col-8">
                        <label class="input">
                            <i class="icon-append fa fa-user"></i>
                            {{ form_widget(create_blog_form.name) }}
                        </label>
                        <div class="note note-error">{{ form_errors(create_blog_form.name) }}</div>
                        <div class="note">{{ 'How should your blog be called?'|trans }}</div>
                    </div>
                </div>
            </section>

            <section>
                <div class="row">
                    {{ form_label(create_blog_form.url, null, {'label_attr': {'class': 'label col col-4'}}) }}
                    <div class="col col-8">
                        <label class="input">
                            <i class="icon-append fa fa-globe"></i>
                            {{ form_widget(create_blog_form.url) }}
                        </label>
                        <div class="note note-error">{{ form_errors(create_blog_form.url) }}</div>
                        <div class="note">{{ 'This will be used to access your blog over "https://blog.orbitrondev.org/<url>/".'|trans }}</div>
                    </div>
                </div>
            </section>
        </fieldset>
        <fieldset>
            <section>
                {{ form_widget(create_blog_form.recaptcha) }}
                <div class="note note-error">{{ form_errors(create_blog_form.recaptcha) }}</div>
            </section>
        </fieldset>
        <footer>
            {{ form_widget(create_blog_form.send, {'attr': {'class': 'button'}}) }}
        </footer>
    {{ form_end(create_blog_form) }}
{% endblock %}
