{% extends 'layout.html.twig' %}

{% block title %}{{ 'Discover all blogs'|trans }} | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">{{ 'Discover all blogs'|trans }}</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{{ path('app_blog_index') }}" class="active">{{ 'Blogs'|trans }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container content">
        {% if current_user.id != -1  %}
            <section id="admin">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        {{ 'Administrate your blogs'|trans }}
                        <div class="pull-right">
                            <a href="{{ path('app_blog_new') }}" class="btn btn-success btn-xs" role="button">{{ 'Create new blog'|trans }}</a>
                        </div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover">
                                <tbody>
                                    {% for blog in blog_list %}
                                        {% if current_user.id == blog.owner_id %}
                                            <tr>
                                                <td><a href="{{ path('app_blog_blog_index', {'blog': blog.url}) }}">{{ blog.name }}</a></td>
                                                <td><a href="{{ path('app_blog_blog_admin', {'blog': blog.url, 'page': 'home'}) }}">{{ 'Admin panel'|trans }}</a></td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table><!-- /.table -->
                        </div><!-- /.table-responsive -->
                    </div><!-- /.panel-body -->
                </div><!-- /.panel -->
            </section><!-- /#admin -->
        {% endif %}
        <section id="blog-list">
            <h2 class="page-header">{{ 'Blog list'|trans }}</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{ 'Name'|trans }}</th>
                            <th>{{ 'Owner'|trans }}</th>
                            <th>{{ 'Tools'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for blog in blog_list %}
                            <tr>
                                <td><a href="{{ path('app_blog_blog_index', {'blog': blog.url}) }}">{{ blog.name }}</a></td>
                                <td>{{ blog.username }}</td>
                                <td>{% if current_user.id == blog.owner_id %}<a href="{{ path('app_blog_blog_admin', {'blog': blog.url, 'page': 'home'}) }}">{{ 'Admin panel'|trans }}</a>{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table><!-- /.table -->
            </div><!-- /.table-responsive -->
        </section><!-- /#blog-list -->
    </div>
{% endblock %}