<h1>{{ 'Buy credits'|trans }}</h1>
<hr />
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('app_account_panel', {'page': 'account'}) }}">{{ 'Account'|trans }}</a></li>
    <li class="breadcrumb-item active">{{ 'Buy Credits'|trans }}</li>
</ol>
<hr />
<p>{{ 'How do you want to buy new credits?'|trans }}</p>
