<h1>{{ 'List Applications'|trans }}</h1>
<hr />
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('app_account_panel', {'page': 'developer-applications'}) }}">{{ 'Developer'|trans }}</a></li>
    <li class="breadcrumb-item active">{{ 'Applications'|trans }}</li>
</ol>
<hr />
<div class="row mb-3">
    <div class="col-md-5">
        {% if current_user.developerStatus == 1 %}
            {{ form_start(create_app_form, {'attr': {'class': 'card'}}) }}
                <div class="card-body">
                    {{ form_errors(create_app_form) }}

                    <div class="form-group row">
                        {{ form_label(create_app_form.client_name, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                        <div class="col-sm-8">
                            <div class="input-group mb-2 mb-sm-0">
                                <div class="input-group-addon"><i class="icon-prepend fa fa-user"></i></div>
                                {{ form_widget(create_app_form.client_name, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <small class="form-text text-danger">{{ form_errors(create_app_form.client_name) }}</small>
                        </div>
                    </div>

                    <div class="form-group row">
                        {{ form_label(create_app_form.redirect_uri, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                        <div class="col-sm-8">
                            <div class="input-group mb-2 mb-sm-0">
                                <div class="input-group-addon"><i class="icon-prepend fa fa-external-link"></i></div>
                                {{ form_widget(create_app_form.redirect_uri, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <small class="form-text text-danger">{{ form_errors(create_app_form.redirect_uri) }}</small>
                        </div>
                    </div>

                    <div class="form-group row">
                        {{ form_label(create_app_form.scopes, null, {'label_attr': {'class': 'col-sm-4 col-form-label'}}) }}
                        <div class="col-sm-8">
                            {{ form_widget(create_app_form.scopes) }}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    {{ form_widget(create_app_form.send, {'attr': {'class': 'btn btn-primary'}}) }}
                </div>
            {{ form_end(create_app_form) }}
            <br />
            <p>
                {{ 'Check out this page to learn how to integrate Oauth2:'|trans }}
                <a href="{{ url('app_developer_page', {'page': 'oauth/unauthorized.php'}) }}">{{ url('app_developer_page', {'page': 'oauth/unauthorized.php'}) }}</a>
            </p>
        {% else %}
            <div class="alert alert-danger" role="alert">{{ 'You are not a developer'|trans }}</div>
        {% endif %}
    </div>
</div>
