<h1>{{ 'Show Application'|trans }}</h1>
<hr />
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('app_account_panel', {'page': 'developer-applications'}) }}">{{ 'Developer'|trans }}</a></li>
    <li class="breadcrumb-item"><a href="{{ path('app_account_panel', {'page': 'developer-applications'}) }}">{{ 'Applications'|trans }}</a></li>
    <li class="breadcrumb-item active">{{ app.clientIdentifier }}</li>
</ol>
<hr />
<h4>{{ app.clientIdentifier }}</h4>
<div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
        <tbody>
            <tr>
                <td>{{ 'App ID'|trans }}</td>
                <td><code>{{ app.clientIdentifier }}</code></td>
            </tr>
            <tr>
                <td>{{ 'Secret Key'|trans }}</td>
                <td><code>{{ app.clientSecret }}</code></td>
            </tr>
            <tr>
                <td>{{ 'Redirect URI'|trans }}</td>
                <td>{{ app.redirectUri }}</td>
            </tr>
            <tr>
                <td>{{ 'Permissions'|trans }}</td>
                <td>
                    {% for scope in app.scopes %}
                        {{ scope }}{% if not loop.last %} |{% endif %}
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<p>
    {{ 'Check out this page to learn how to integrate Oauth2:'|trans }}
    <a href="{{ url('app_developer_page', {'page': 'oauth/unauthorized.php'}) }}">{{ url('app_developer_page', {'page': 'oauth/unauthorized.php'}) }}</a>
</p>
