<section id="header">
    <div class="col-lg-12">
        <h1 class="page-header">{{ 'Register account'|trans }}</h1>
        <ol class="breadcrumb">
            <li><a href="#">{{ 'Developer'|trans }}</a></li>
            <li class="active">{{ 'Register account'|trans }}</li>
        </ol><!-- /.breadcrumb -->
        <hr />
    </div><!-- /.col-lg-12 -->
</section><!-- /#header -->
<section id="page">
    <div class="col-md-12">
        {% if not current_user.developerStatus == 1 %}
            {{ form_start(developer_form) }}
                {{ form_widget(developer_form.send, {'attr': {'class': 'btn btn-success'}}) }}
            {{ form_end(developer_form) }}
        {% else %}
            <div class="alert alert-danger" role="alert">{{ 'You are already a developer'|trans }}</div>
        {% endif %}
    </div><!-- /.col-md-12 -->
</section><!-- /#page -->
