<h1>{{ 'Pricing'|trans }}</h1>
<hr />
<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{{ path('app_account_panel', {'page': 'account'}) }}">{{ 'Account'|trans }}</a></li>
    <li class="breadcrumb-item active">{{ 'Pricing'|trans }}</li>
</ol>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="card">
            <div class="card-header">
                <h4 class="text-center">{{ 'Basic'|trans }}</h4>
            </div>
            <div class="card-body text-center">
                <p class="lead">
                    <strong>{{ 'Free / forever'|trans }}</strong>
                </p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                    {{ 'Use account feature'|trans }}
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'Use our whole service'|trans }}
                    <span class="fa fa-times pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'Create multiple services (e.g. 2 Blogs)'|trans }}
                    <span class="fa fa-times pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'Technical Support'|trans }}
                    <span class="fa fa-times pull-right"></span>
                </li>
            </ul>
            <div class="card-footer">
                {% if current_user.subscription.subscription.id == 1 %}
                    <p class="btn btn-lg btn-block btn-primary mb-0">{{ 'Your plan'|trans }}</p>
                {% else %}
                    <a class="btn btn-lg btn-block btn-success text-white mb-0">{{ 'Set this plan'|trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-success">
            <div class="card-header">
                <h4 class="text-center">{{ 'Premium'|trans }}</h4>
            </div>
            <div class="card-body text-center">
                <p class="lead">
                    <strong>{{ '9.99$ / month'|trans }}</strong>
                </p>
            </div>
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                    {{ 'Use account feature'|trans }}
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'Use our whole service'|trans }}
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'Create multiple services (e.g. 2 Blogs)'|trans }}
                    <span class="fa fa-times pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'Technical Support'|trans }}
                    <span class="fa fa-check pull-right"></span>
                </li>
            </ul>
            <div class="card-footer">
                {% if current_user.subscription.subscription.id == 2 %}
                    <p class="btn btn-lg btn-block btn-primary mb-0">{{ 'Your plan'|trans }}</p>
                {% else %}
                    <a class="btn btn-lg btn-block btn-success text-white mb-0">{{ 'Set this plan'|trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-primary">
            <div class="card-header">
                <h4 class="text-center">{{ 'Enterprise'|trans }}</h4>
            </div><!-- /.panel-heading -->
            <div class="card-body text-center">
                <p class="lead">
                    <strong>{{ '29.99$ / month'|trans }}</strong>
                </p>
            </div><!-- /.panel-body -->
            <ul class="list-group list-group-flush text-center">
                <li class="list-group-item">
                    {{ 'Use account feature'|trans }}
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'Use our whole service'|trans }}
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'Create multiple services (e.g. 2 Blogs)'|trans }}
                    <span class="fa fa-check pull-right"></span>
                </li>
                <li class="list-group-item">
                    {{ 'Technical Support'|trans }}
                    <span class="fa fa-check pull-right"></span>
                </li>
            </ul>
            <div class="card-footer">
                {% if current_user.subscription.subscription.id == 3 %}
                    <p class="btn btn-lg btn-block btn-primary mb-0">{{ 'Your plan'|trans }}</p>
                {% else %}
                    <a class="btn btn-lg btn-block btn-success text-white mb-0">{{ 'Set this plan'|trans }}</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
