<!DOCTYPE html>
<!--[if IE 8]><html lang="en" class="ie8"><![endif]-->
<!--[if IE 9]><html lang="en" class="ie9"><![endif]-->
<!--[if !IE]><!--><html lang="{{ app.request.getLocale() }}" {# manifest="/website.appcache" #}><!--<![endif]-->
    <head>
        <title>{% block title %}OrbitronDev{% endblock %}</title>

        <!-- Meta -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="description" content="{% block description %}The official site of OrbitronDev. Containing all projects and everything about us.{% endblock %}" />
        <meta name="author" content="OrbitronDev" />
        <meta name="publisher" content="OrbitronDev" />
        <meta name="copyright" content="OrbitronDev &copy; 2013-2017" />
        <meta name="keywords" content="" />
        <meta name="audience" content="Alle" />
        <meta name="robots" content="INDEX,FOLLOW" />
        <script type='application/ld+json'>
        {
            "@context": "http://www.schema.org",
            "@type": "Organization",
            "name": "OrbitronDev",
            "url": "https://www.orbitrondev.org",
            "logo": "https://www.orbitrondev.org/assets/logo.png",
            "description": "{{ 'We develop multiple web services'|trans }}",
            "address": {
                "@type": "PostalAddress",
                "streetAddress": "Salzstrasse 50",
                "addressLocality": "Möhlin",
                "postalCode": "4313",
                "addressCountry": "Switzerland"
            },
            "contactPoint": {
                "@type": "ContactPoint",
                "telephone": "+41 61 921 82 40",
                "contactType": "customer service"
            }
        }

        </script>

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('icon/orbitrondev/apple-touch-icon.png?v=YAoYKqWYex', 'local') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('icon/orbitrondev/favicon-32x32.png?v=YAoYKqWYex', 'local') }}">
        <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('icon/orbitrondev/android-chrome-192x192.png?v=YAoYKqWYex', 'local') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('icon/orbitrondev/favicon-16x16.png?v=YAoYKqWYex', 'local') }}">
        <link rel="manifest" href="{{ asset('icon/orbitrondev/manifest.json?v=YAoYKqWYex', 'local') }}">
        <link rel="mask-icon" href="{{ asset('icon/orbitrondev/safari-pinned-tab.svg?v=YAoYKqWYex', 'local') }}" color="#5bbad5">
        <link rel="shortcut icon" href="{{ asset('icon/orbitrondev/favicon.ico?v=YAoYKqWYex', 'local') }}">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-TileImage" content="{{ asset('icon/orbitrondev/mstile-144x144.png?v=YAoYKqWYex', 'local') }}">
        <meta name="msapplication-config" content="{{ asset('icon/orbitrondev/browserconfig.xml?v=YAoYKqWYex', 'local') }}">
        <meta name="theme-color" content="#2980b9">

        <!-- Web Fonts -->
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600&amp;subset=cyrillic,latin" />

        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}" />

        <!-- CSS Header and Footer -->
        {% block stylesheets_head_foot %}
            <link rel="stylesheet" href="{{ asset('assets/css/headers/header-default.css') }}" />
            <link rel="stylesheet" href="{{ asset('assets/css/footers/footer-v1.css') }}" />
        {% endblock %}

        <!-- CSS Implementing Plugins -->
        {% block stylesheets_implemeting_plugins %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
            <link rel="stylesheet" href="{{ asset('assets/plugins/line-icons/line-icons.css') }}" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.4/cookieconsent.min.css" />
        {% endblock %}

        <!-- CSS Page Style -->
        {% block stylesheets_page_style %}{% endblock %}

        <!-- CSS Theme -->
        {% block stylesheets_theme %}
            <link rel="stylesheet" href="{{ asset('assets/css/theme-colors/blue.css') }}" id="style_color" />
            <link rel="stylesheet" href="{{ asset('assets/css/theme-skins/dark.css') }}" />
        {% endblock %}

        <!-- CSS Customization -->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/custom.css') }}" />
        {% endblock %}

        {% block stylesheets_code %}{% endblock %}

        <!-- JS Global Compulsory -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.0/jquery-migrate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body {#class="dark"#}>
        {% block content %}{% endblock %}

        <!-- JS Google Analytics -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-69484706-1', 'auto');
            ga('send', 'pageview');
        </script>

        <!-- JS Implementing Plugins -->
        {% block javascripts_implementing_plugins %}
            <script type="text/javascript" src="{{ asset('assets/plugins/back-to-top.js') }}"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.6/SmoothScroll.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.4.1/packaged/jquery.noty.packaged.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.4.1/themes/bootstrap.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>{# TODO: Remove as soon as all images are existing #}
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.4/cookieconsent.min.js"></script>
        {% endblock %}

        <!-- JS Customization -->
        <script type="text/javascript" src="{{ asset('assets/js/custom.js') }}"></script>

        <!-- JS Page Level -->
        {% block javascripts_page_level %}
            <script type="text/javascript" src="{{ asset('assets/js/app.js') }}"></script>
        {% endblock %}
        <script type="text/javascript">
            jQuery(document).ready(function() {
                App.init();

                window.cookieconsent.initialise({
                    "palette": {
                        "popup": {
                            "background": "#252e39"
                        },
                        "button": {
                            "background": "#14a7d0"
                        }
                    },

                    onInitialise: function (status) {
                        var type = this.options.type;
                        var didConsent = this.hasConsented();
                        if (type === 'opt-in' && didConsent) {
                            // enable cookies
                        }
                        if (type === 'opt-out' && !didConsent) {
                            // disable cookies
                        }
                    },

                    onStatusChange: function(status, chosenBefore) {
                        var type = this.options.type;
                        var didConsent = this.hasConsented();
                        if (type === 'opt-in' && didConsent) {
                            // enable cookies
                        }
                        if (type === 'opt-out' && !didConsent) {
                            // disable cookies
                        }
                    },

                    onRevokeChoice: function() {
                        var type = this.options.type;
                        if (type === 'opt-in') {
                            // disable cookies
                        }
                        if (type === 'opt-out') {
                            // enable cookies
                        }
                    },
                    law: {
                        regionalLaw: false
                    },
                    location: true
                });

                {% block javascripts_code %}{% endblock %}
            });
        </script>
        {% block javascript %}{% endblock %}

        <!--[if lt IE 9]>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script type="text/javascript" src="{{ asset('assets/plugins/placeholder-IE-fixes.js') }}"></script>
        <![endif]-->

        {% block javascripts %}{% endblock %}
    </body>
</html>
