{% extends 'layout.html.twig' %}

{% block title %}{{ 'Discover all stores'|trans }} | {{ parent() }}{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">{{ 'Discover all stores'|trans }}</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="{{ path('app_store_index') }}" class="active">{{ 'Stores'|trans }}</a></li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="container content">
        {% if current_user is not empty  %}
            <section id="admin">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        {{ 'Administrate your stores'|trans }}
                        <div class="pull-right">
                            <a href="{{ path('app_store_new') }}" class="btn btn-success btn-xs" role="button">{{ 'Create new store'|trans }}</a>
                        </div>
                    </div><!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-hover">
                                <tbody>
                                    {% for store in store_list %}
                                        {% if current_user.id == store.owner.id %}
                                            <tr>
                                                <td><a href="{{ path('app_store_store_index', {'store': store.url}) }}">{{ store.name }}</a></td>
                                                <td><a href="{{ path('app_store_store_admin', {'store': store.url, 'page': 'home'}) }}">{{ 'Admin panel'|trans }}</a></td>
                                            </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table><!-- /.table -->
                        </div><!-- /.table-responsive -->
                    </div><!-- /.panel-body -->
                </div><!-- /.panel -->
            </section><!-- /#admin -->
        {% endif %}
        <section id="store-list">
            <h2 class="page-header">{{ 'Store list'|trans }}</h2>
            <div class="table-responsive">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{{ 'Name'|trans }}</th>
                            <th>{{ 'Owner'|trans }}</th>
                            <th>{{ 'Tools'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for store in store_list %}
                            <tr>
                                <td><a href="{{ path('app_store_store_index', {'store': store.url}) }}">{{ store.name }}</a></td>
                                <td>{{ store.owner.username }}</td>
                                <td>{% if current_user.id == store.owner.id %}<a href="{{ path('app_store_store_admin', {'store': store.url, 'page': 'home'}) }}">{{ 'Admin panel'|trans }}</a>{% endif %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table><!-- /.table -->
            </div><!-- /.table-responsive -->
        </section><!-- /#store-list -->
    </div>
{% endblock %}
